In [2]:
import requests
from bs4 import BeautifulSoup
import scipy.io
import matplotlib.pyplot as plt
import matplotlib 
import pandas as pd
import numpy as np
import pickle
from time import sleep
import timeit

In [3]:
def request(msg, slp=1):
    status_code = 500  # Want to get a status-code of 200
    while status_code != 200:
        sleep(slp)  # Don't ping the server too often
        try:
            r = requests.get(msg)
            status_code = r.status_code
            if status_code != 200:
                print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        except:
            print("An exception has occurred, probably a momentory loss of connection. Waiting one seconds...")
            sleep(1)
    return r

In [4]:
# Initialize a DF to hold all our scraped game info
df_all = pd.DataFrame(columns=["id", "name", "nrate", "pic_url"])
min_nrate = 1e5
npage = 1

# Scraping successful pages in the results until we get down to games with < 1000 ratings each
while min_nrate > 1000:
    # Get full HTML for a specific page in the full listing of boardgames sorted by nrates 
    r = request("https://boardgamegeek.com/browse/boardgame/page/%i?sort=numvoters&sortdir=desc" % (npage,))
    soup = BeautifulSoup(r.text, "html.parser")    
    
    # Get rows for the table listing all the games on this page
    table = soup.find_all("tr", attrs={"id": "row_"})  # Get list of games on this page
    df = pd.DataFrame(columns=["id", "name", "nrate", "pic_url"], index=range(len(table)))  # DF to hold this pages results
    
    # Loop through each row and pull out the info for that game
    for idx, row in enumerate(table):
        # Row may or may not start with a "boardgame rank" link, if YES then strip it
        links = row.find_all("a")
        if "name" in links[0].attrs.keys():
            del links[0]
        gamelink = links[1]  # Get the relative URL for the specific game
        gameid = int(gamelink["href"].split("/")[2])  # Get the game ID by parsing the relative URL
        gamename = gamelink.contents[0]  # Get the actual name of the game as the link contents
        imlink = links[0]  # Get the URL for the game thumbnail
        thumbnail = imlink.contents[0]["src"]

        ratings_str = row.find_all("td", attrs={"class": "collection_bggrating"})[2].contents[0]
        nratings = int("".join(ratings_str.split()))

        df.iloc[idx, :] = [gameid, gamename, nratings, thumbnail]

    # Concatenate the results of this page to the master dataframe
    min_nrate = df["nrate"].min()  # The smallest number of ratings of any game on the page
    print("Page %i scraped, minimum number of ratings was %i" % (npage, min_nrate))
    df_all = pd.concat([df_all, df], axis=0)
    npage += 1
    sleep(2) # Keep the BGG server happy.

Page 1 scraped, minimum number of ratings was 21869
Page 2 scraped, minimum number of ratings was 14115
Page 3 scraped, minimum number of ratings was 10474
Page 4 scraped, minimum number of ratings was 7914
Page 5 scraped, minimum number of ratings was 6720
Page 6 scraped, minimum number of ratings was 5523
Page 7 scraped, minimum number of ratings was 4758
Page 8 scraped, minimum number of ratings was 4175
Page 9 scraped, minimum number of ratings was 3680
Page 10 scraped, minimum number of ratings was 3293
Page 11 scraped, minimum number of ratings was 3000
Page 12 scraped, minimum number of ratings was 2744
Page 13 scraped, minimum number of ratings was 2524
Page 14 scraped, minimum number of ratings was 2356
Page 15 scraped, minimum number of ratings was 2164
Page 16 scraped, minimum number of ratings was 2007
Page 17 scraped, minimum number of ratings was 1863
Page 18 scraped, minimum number of ratings was 1769
Page 19 scraped, minimum number of ratings was 1660
Page 20 scraped, minimum number of ratings was 1577
Page 21 scraped, minimum number of ratings was 1494
Page 22 scraped, minimum number of ratings was 1418
Page 23 scraped, minimum number of ratings was 1357
Page 24 scraped, minimum number of ratings was 1281
Page 25 scraped, minimum number of ratings was 1218
Page 26 scraped, minimum number of ratings was 1153
Page 27 scraped, minimum number of ratings was 1103
Page 28 scraped, minimum number of ratings was 1057
Page 29 scraped, minimum number of ratings was 1012
Page 30 scraped, minimum number of ratings was 976

In [4]:
df = pd.read_csv("games_list.csv") # had to restart the kernel

In [5]:
df = df_all.copy()
# Reset the index
df.reset_index(inplace=True, drop=True)
# Write the DF to .csv for future use
df.to_csv("games_list.csv", index=False, encoding="utf-8")
df.head()

,id,name,nrate,pic_url
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...

In [5]:
print("Number of games with > 1000 ratings is approximately %i" % (len(df),))
print("Total number of ratings from all these games is %i" % (df["nrate"].sum(),))

Number of games with > 1000 ratings is approximately 3000
Total number of ratings from all these games is 14006192

In [6]:
min(df["nrate"])

976

In [7]:
len(df)

3000

In [8]:
df.iloc[2999, : ]

id                                                    156089
name                         Arcadia Quest: Beyond the Grave
nrate                                                    976
pic_url    https://cf.geekdo-images.com/micro/img/t-bgPBl...
Name: 2999, dtype: object

In [10]:
df_small_test = df.iloc[2995: , : ].copy()
df_small_test

,id,name,nrate,pic_url
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...

In [11]:
df_small_test["nfull_pages"] = (df_small_test["nrate"]-50).apply(round, ndigits=-2)/100
df_small_test

,id,name,nrate,pic_url,nfull_pages
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...,9.0
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...,9.0
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...,9.0
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...,9.0
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [12]:
# testing the API pull
df_ratings_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(100))


r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=156089&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
comments = soup("comment")
l1 = [0]*100
l2 = [0]*100
l3 = [0]*100
j = 0
for comm in comments:
    l1[j] = comm["username"]
    l2[j] = float(comm["rating"])
    l3[j] = str(comm["value"])
    j += 1
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("username")] = l1
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("rating")] = l2
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("value")] = l3

In [13]:
df_ratings_test

,gameid,username,rating,value
0,NaN,kryzen13,10,"As a huge fan of the base game, this gets a 10..."
1,NaN,thonnie,10,kickstarter
2,NaN,Dj Silent Bob,10,
3,NaN,SirCptnAwesome,10,
4,NaN,Boltana,10,
...,...,...,...,...
95,NaN,pipkorng,10,
96,NaN,jarchibald,10,
97,NaN,Snivek,10,
98,NaN,yaguiu,10,
99,NaN,SmoovySmoov,10,

In [14]:
df_ratings_test.iloc[0, 3]

'As a huge fan of the base game, this gets a 10 because, as an expansion, it gives me exactly what I want-- even more Arcadia Quest!  A whole new campaign, new heroes (though not my favorites, Chaz is always fun to have and Darryn plays so nice with a couple of the other guys), and the villains and enemies are phenomenal. The Dread King has a killer sculpt, and I love the overkill only enemies.'

In [15]:
df_single_game = df.iloc[2999: , :].copy()
df_single_game

,id,name,nrate,pic_url
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...

In [16]:
df_single_game["nfullpage"] = (df_single_game["nrate"]-50).apply(round, ndigits=-2)/100
df_single_game

,id,name,nrate,pic_url,nfullpage
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [17]:
df_ratings_single_game = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(1000))

dfidx_start = 0
dfidx = 0

pagenum = 1
fullpages = 9
while fullpages > 0:
    dfidx_end = dfidx_start+100
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("gameid")] = [156089]*100
    sleep(2)
    r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=156089&ratingcomments=1&page=%i" % (pagenum))
    soup = BeautifulSoup(r.text, "xml")
    comments = soup("comment")
    l1 = [0]*100
    l2 = [0]*100
    l3 = [0]*100
    j = 0
    for comm in comments:
        l1[j] = comm["username"]
        l2[j] = float(comm["rating"])
        l3[j] = str(comm["value"])
        j += 1
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("username")] = l1
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("rating")] = l2
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("value")] = l3
    fullpages -= 1
    dfidx_start = dfidx_end     
    pagenum += 1  
    print("pagenum updated to %i" %(pagenum,))
    
df_ratings_single_game = df_ratings_single_game.dropna(how="all")

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10

In [18]:
df_ratings_single_game

,gameid,username,rating,value
0,156089,kryzen13,10,"As a huge fan of the base game, this gets a 10..."
1,156089,thonnie,10,kickstarter
2,156089,Dj Silent Bob,10,
3,156089,SirCptnAwesome,10,
4,156089,Boltana,10,
...,...,...,...,...
895,156089,DDAPROD,7,
896,156089,stanyer,7,
897,156089,hervalix1,7,
898,156089,Keitaro87,7,
899,156089,tanosungae,7,

In [9]:
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqldb://root:LolaHippo74@127.0.0.1:3306/single_test?charset=utf8mb4')
# have to create a connection in MySQL Workbench
# create a database to connect to

In [33]:
df_ratings_single_game.to_sql(name="single_test", con=engine, if_exists="append", index=False)

In [39]:
df_st_group_test = df_small_test.groupby(np.arange(len(df_small_test))//3)

In [40]:
list(df_st_group_test)

[(0,
            id                                               name nrate  \
  2995  241533  Mansions of Madness: Second Edition – Sanctum ...   978
  2996   37235                                    Agricola Z-Deck   977
  2997    8552                                              I Go!   976

                                                  pic_url  nfull_pages
  2995  https://cf.geekdo-images.com/micro/img/C4_W4C-...          9.0
  2996  https://cf.geekdo-images.com/micro/img/yrYSRQN...          9.0
  2997  https://cf.geekdo-images.com/micro/img/08Sp6on...          9.0  ),
 (1,
            id                                   name nrate  \
  2998   20542  Advanced Squad Leader: Starter Kit #3   976
  2999  156089        Arcadia Quest: Beyond the Grave   976

                                                  pic_url  nfull_pages
  2998  https://cf.geekdo-images.com/micro/img/1Z7Phwo...          9.0
  2999  https://cf.geekdo-images.com/micro/img/t-bgPBl...          9.0  )]

In [45]:
for nm, grp in df_small_test.groupby(np.arange(len(df_small_test))//3):
    # Initialize a DF to hold all the responses for this chunk of games
    df_ratings_larger_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(grp["nrate"].sum()+100000))

    # Initialize indices for writing to the ratings dataframe
    dfidx_start = 0
    dfidx = 0
    
    # For this group of games, make calls until all FULL pages of every game have been pulled
    pagenum = 1
    while len(grp[grp["nfull_pages"] > 0]) > 0: 
        # Get a restricted DF with only still-active games (have ratings pages left)
        active_games = grp[grp["nfull_pages"] > 0]

        # Set the next chunk of the DF "gameid" column using the list of game IDs
        id_list = []
        for game in active_games["id"]:
            id_list += [game]*100
        dfidx_end = dfidx_start + len(active_games)*100
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("gameid")] = id_list

        # Make the request with the list of all game IDs that have ratings left
        id_strs = [str(gid) for gid in active_games["id"]]
        gameids = ",".join(id_strs)
        sleep(1.5)  # Keep the server happy
        r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))
#         while r.status_code != 200:
#             sleep(2)  # Keep the server happy
#             print("Server Error! Response Code %i. Retrying..." % (r.status_code))
#             r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))        
        soup = BeautifulSoup(r.text, "xml")
        comments = soup("comment")
#         print("Response status was %i - number of ratings retrieved was %i" % (r.status_code, len(comments)))

        # Parse the response and assign it into the dataframe
        l1 = [0]*len(active_games)*100
        l2 = [0]*len(active_games)*100
        l3 = [0]*len(active_games)*100
        j = 0
        for comm in comments:
            l1[j] = comm["username"]
            l2[j] = float(comm["rating"])
            l3[j] = str(comm["value"])
            j += 1
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("username")] = l1
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("rating")] = l2
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("value")] = l3

        
        grp["nfull_pages"] -= 1  # Decrement the number of FULL pages of each game id
        dfidx_start = dfidx_end     
        pagenum += 1  
        print("pagenum updated to %i" %(pagenum,))
    
    # Strip off the empty rows
    df_ratings_larger_test = df_ratings_larger_test.dropna(how="all")
    # Write this batch of all FULL pages of ratings for this chunk of games to the DB
    df_ratings_larger_test.to_sql(name="larger_test", con=engine, if_exists="append", index=False)    
    print("Processed ratings for batch #%i of games." % (nm))

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
Processed ratings for batch #0 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
Processed ratings for batch #1 of games.

In [48]:
# Restore the correct number of FULL pages
df_small_test["nfull_pages"] = (df_small_test["nrate"]-50).apply(round, ndigits=-2)/100  # Round DOWN to nearest 100, then divide by 100

# Initialize a DF to hold all the responses over all the chunks of games
df_ratings_larger_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(len(df_small_test)*100))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    pagenum = row["nfull_pages"] + 1
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    comments = soup("comment")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(comments)
    dfidx_end = dfidx_start + len(comments)
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("gameid")] = id_list

    # Parse the response and assign it into the dataframe
    l1 = [0]*len(comments)
    l2 = [0]*len(comments)
    l3 = [0]*len(comments)
    j = 0
    for comm in comments:
        l1[j] = comm["username"]
        l2[j] = float(comm["rating"])
        l3[j] = str(comm["value"])
        j += 1
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("username")] = l1
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("rating")] = l2
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("value")] = l3

    dfidx_start = dfidx_end   # Increment the starting index for next round        

    if idx%100 == 0:
        print("Finished with a chunk of 3 games.")
        
# Strip off the empty rows
df_ratings_larger_test = df_ratings_larger_test.dropna(how="all")

# Write this final batch of all partial pages of ratings for this chunk of games to the DB
df_ratings_larger_test.to_sql(name="larger_test", con=engine, if_exists="append", index=False)

In [10]:
engine2 = create_engine('mysql+mysqldb://root:LolaHippo74@127.0.0.1:3306/board_games?charset=utf8mb4')

In [11]:
df_games = df.copy()

In [12]:
df_games.head()

,id,name,nrate,pic_url
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...

In [52]:
df_games.to_sql(name="games", con=engine2, if_exists="append", index=False)

In [13]:
df_games["nfullpages"] = (df_games["nrate"]-50).apply(round, ndigits=-2)/100

In [14]:
df_games.head()

,id,name,nrate,pic_url,nfullpages
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...,962.0
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...,962.0
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...,962.0
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...,799.0
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...,749.0

In [19]:
df_games_subset = df_games.iloc[150:].copy() # subsetting because I had to restart the kernel but the 1st chunk was successful

In [20]:
df_games_subset.head()

,id,name,nrate,pic_url,nfullpages
150,244521,The Quacks of Quedlinburg,16868,https://cf.geekdo-images.com/micro/img/G8on9OS...,168.0
151,1294,Clue,16737,https://cf.geekdo-images.com/micro/img/b-zD_YJ...,167.0
152,37904,Formula D,16569,https://cf.geekdo-images.com/micro/img/x0hoXoI...,165.0
153,926,Catan: Cities & Knights,16511,https://cf.geekdo-images.com/micro/img/2CmbUX4...,165.0
154,244992,The Mind,16365,https://cf.geekdo-images.com/micro/img/n92xmiP...,163.0

In [ ]:
for nm, grp in df_games_subset.groupby(np.arange(len(df_games_subset))//150):
    # Initialize a DF to hold all the responses for this chunk of games
    df_ratings = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(grp["nrate"].sum()+100000))

    # Initialize indices for writing to the ratings dataframe
    dfidx_start = 0
    dfidx = 0
    
    # For this group of games, make calls until all FULL pages of every game have been pulled
    pagenum = 1
    while len(grp[grp["nfullpages"] > 0]) > 0: 
        # Get a restricted DF with only still-active games (have ratings pages left)
        active_games = grp[grp["nfullpages"] > 0]

        # Set the next chunk of the DF "gameid" column using the list of game IDs
        id_list = []
        for game in active_games["id"]:
            id_list += [game]*100
        dfidx_end = dfidx_start + len(active_games)*100
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("gameid")] = id_list

        # Make the request with the list of all game IDs that have ratings left
        id_strs = [str(gid) for gid in active_games["id"]]
        gameids = ",".join(id_strs)
        sleep(2)  # Keep the server happy
        r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))
#         while r.status_code != 200:
#             sleep(2)  # Keep the server happy
#             print("Server Error! Response Code %i. Retrying..." % (r.status_code))
#             r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))        
        soup = BeautifulSoup(r.text, "xml")
        comments = soup("comment")
#         print("Response status was %i - number of ratings retrieved was %i" % (r.status_code, len(comments)))

        # Parse the response and assign it into the dataframe
        l1 = [0]*len(active_games)*100
        l2 = [0]*len(active_games)*100
        l3 = [0]*len(active_games)*100
        j = 0
        for comm in comments:
            l1[j] = comm["username"]
            l2[j] = float(comm["rating"])
            l3[j] = str(comm["value"])
            j += 1
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("username")] = l1
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("rating")] = l2
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("value")] = l3

        
        grp["nfullpages"] -= 1  # Decrement the number of FULL pages of each game id
        dfidx_start = dfidx_end     
        pagenum += 1  
        print("pagenum updated to %i" %(pagenum,))
    
    # Strip off the empty rows
    df_ratings = df_ratings.dropna(how="all")
    # Write this batch of all FULL pages of ratings for this chunk of games to the DB
    df_ratings.to_sql(name="ratings", con=engine2, if_exists="append", index=False)    
    print("Processed ratings for batch #%i of games." % (nm))

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
An exception has occurred, probably a momentory loss of connection. Waiting one seconds...
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
pagenum updated to 46
pagenum updated to 47
pagenum updated to 48
pagenum updated to 49
pagenum updated to 50
pagenum updated to 51
pagenum updated to 52
pagenum updated to 53
pagenum updated to 54
An exception has occurred, probably a momentory loss of connection. Waiting one seconds...
pagenum updated to 55
pagenum updated to 56
pagenum updated to 57
pagenum updated to 58
pagenum updated to 59
pagenum updated to 60
pagenum updated to 61
pagenum updated to 62
pagenum updated to 63
pagenum updated to 64
pagenum updated to 65
pagenum updated to 66
pagenum updated to 67
pagenum updated to 68
pagenum updated to 69
pagenum updated to 70
pagenum updated to 71
pagenum updated to 72
pagenum updated to 73
pagenum updated to 74
pagenum updated to 75
pagenum updated to 76
pagenum updated to 77
pagenum updated to 78
pagenum updated to 79
pagenum updated to 80
pagenum updated to 81
pagenum updated to 82
pagenum updated to 83
pagenum updated to 84