In [1]:
import pandas as pd
import numpy as np
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine

In [5]:
with open("username.txt") as f:
    user = f.read()
with open("password.txt") as g:
    password = g.read()

In [6]:
engine = create_engine('mysql+mysqldb://' + user + ':' + password + '@127.0.0.1:3306/board_games?charset=utf8mb4')

In [9]:
game_mech = pd.read_sql("SELECT gameid, mechanic AS mech FROM mechanics", engine)

In [10]:
game_mech

       gameid                     mech
0       30549            Action Points
1       30549         Cooperative Game
2       30549          Hand Management
3       30549  Point to Point Movement
4       30549           Set Collection
...       ...                      ...
12209   20542             Hexagon Grid
12210  156089             Dice Rolling
12211  156089            Grid Movement
12212  156089            Modular Board
12213  156089   Variable Player Powers

[12214 rows x 2 columns]

In [11]:
game_cat = pd.read_sql("SELECT gameid, category AS mech FROM categories", engine)

In [12]:
game_cat

      gameid                     mech
0      30549                  Medical
1        822            City Building
2        822                 Medieval
3        822       Territory Building
4         13                 Economic
...      ...                      ...
9517  156089                Adventure
9518  156089  Expansion for Base-game
9519  156089                  Fantasy
9520  156089                 Fighting
9521  156089               Miniatures

[9522 rows x 2 columns]

In [14]:
type(game_mech)

pandas.core.frame.DataFrame

In [15]:
frames = [game_mech, game_cat]

In [49]:
game_mechanisms = pd.concat(frames)

In [50]:
game_mechanisms

      gameid                     mech
0      30549            Action Points
1      30549         Cooperative Game
2      30549          Hand Management
3      30549  Point to Point Movement
4      30549           Set Collection
...      ...                      ...
9517  156089                Adventure
9518  156089  Expansion for Base-game
9519  156089                  Fantasy
9520  156089                 Fighting
9521  156089               Miniatures

[21736 rows x 2 columns]

In [75]:
game_mechanisms.dtypes

gameid     int64
mech      object
dtype: object

In [79]:
game_mechanisms.iloc[:,0]

0        30549
1        30549
2        30549
3        30549
4        30549
         ...
9517    156089
9518    156089
9519    156089
9520    156089
9521    156089
Name: gameid, Length: 21736, dtype: int64

In [83]:
values = [1]*len(game_mechanisms)
game_mechanisms['value'] = values

In [84]:
game_mechanisms

      gameid                     mech  value
0      30549            Action Points      1
1      30549         Cooperative Game      1
2      30549          Hand Management      1
3      30549  Point to Point Movement      1
4      30549           Set Collection      1
...      ...                      ...    ...
9517  156089                Adventure      1
9518  156089  Expansion for Base-game      1
9519  156089                  Fantasy      1
9520  156089                 Fighting      1
9521  156089               Miniatures      1

[21736 rows x 3 columns]

In [88]:
game_mechanisms.drop_duplicates(inplace=True)
game_mech_pivot = pd.pivot(data=game_mechanisms, index='gameid', columns='mech', values='value').fillna(0)

In [89]:
game_mech_pivot

mech,Abstract Strategy,Acting,Action / Dexterity,Action Drafting,Action Points,Action Queue,Action Retrieval,Action Timer,Action/Event,Advantage Token,...,Voting,Wargame,Word Game,Worker Placement,Worker Placement with Dice Workers,"Worker Placement, Different Worker Types",World War I,World War II,Zombies,Zone of Control
gameid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287954,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
290448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
291457,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
list(game_mech_pivot.iloc[2999,:])

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [105]:
game_mech.loc[game_mech['gameid'] == 291457]

      gameid                                mech
8265  291457                        Action Queue
8266  291457       Campaign / Battle Card Driven
8267  291457                    Cooperative Game
8268  291457                       Grid Movement
8269  291457                     Hand Management
8270  291457                        Hexagon Grid
8271  291457                         Legacy Game
8272  291457  Scenario / Mission / Campaign Game
8273  291457       Simultaneous Action Selection
8274  291457               Solo / Solitaire Game

In [112]:
# convert dataframe of game features to scipy sparse matrix
from scipy.sparse import csr_matrix
sparse_game_mech = csr_matrix(game_mech_pivot.values)

In [113]:
df_games = pd.read_sql("SELECT id, name FROM games", engine)

In [114]:
df_games

          id                                               name
0      30549                                           Pandemic
1        822                                        Carcassonne
2         13                                              Catan
3      68448                                          7 Wonders
4      36218                                           Dominion
...      ...                                                ...
2995  241533  Mansions of Madness: Second Edition – Sanctum ...
2996   37235                                    Agricola Z-Deck
2997    8552                                              I Go!
2998   20542              Advanced Squad Leader: Starter Kit #3
2999  156089                    Arcadia Quest: Beyond the Grave

[3000 rows x 2 columns]

In [115]:
game_to_idx = {
    game: i for i, game in 
    enumerate(list(df_games.set_index('id').loc[game_mech_pivot.index].name))
}

In [116]:
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import fuzz

In [117]:
%env JOBLIB_TEMP_FOLDER=/tmp
# define model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
# fit
model_knn.fit(sparse_game_mech)

env: JOBLIB_TEMP_FOLDER=/tmp

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [118]:
def fuzzy_matching(mapper, fav_game, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    
    Parameters
    ----------    
    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie
    
    verbose: bool, print log if True

    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for name, idx in mapper.items():
        ratio = fuzz.ratio(name.lower(), fav_game.lower())
        if ratio >= 60:
            match_tuple.append((name, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]



def make_recommendation(model_knn, data, mapper, fav_game, n_recommendations):
    """
    return top n similar movie recommendations based on user's input movie


    Parameters
    ----------
    model_knn: sklearn model, knn model

    data: movie-user matrix

    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie

    n_recommendations: int, top n recommendations

    Return
    ------
    list of top n similar movie recommendations
    """
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input movie:', fav_game)
    idx = fuzzy_matching(mapper, fav_game, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_game))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [128]:
my_favorite = 'Ticket to Ride'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=20)

You have input movie: Ticket to Ride
Found possible matches in our database: ['Ticket to Ride', 'Ticket to Ride: London', 'Ticket to Ride: Europe', 'Ticket to Ride: Märklin', 'Ticket to Ride: New York', 'Ticket to Ride: USA 1910', 'Ticket to Ride: Europa 1912', 'Ticket to Ride: Switzerland', 'Ticket to Ride: Rails & Sails', 'Ticket to Ride: The Card Game', 'Ticket to Ride: Alvin & Dexter', 'T.I.M.E Stories', 'Ticket to Ride: 10th Anniversary', 'Ticket to Ride: Nordic Countries']

Recommendation system start to make inference
......

Recommendations for Ticket to Ride:
1: Thurn and Taxis, with distance of 0.42264973081037416
2: Yardmaster, with distance of 0.42264973081037416
3: TransAmerica, with distance of 0.38762756430420553
4: Ticket to Ride Map Collection: Volume 1 – Team Asia & Legendary Asia, with distance of 0.3750000000000001
5: Ticket to Ride: First Journey (U.S.), with distance of 0.36754446796632423
6: Ticket to Ride: Märklin, with distance of 0.3318468952189392
7: Ticket to Ride Map Collection: Volume 5 – United Kingdom & Pennsylvania, with distance of 0.3318468952189392
8: Ticket to Ride Map Collection: Volume 6 – France & Old West, with distance of 0.3318468952189392
9: Ticket to Ride Map Collection: Volume 2 – India & Switzerland, with distance of 0.2783121635129677
10: Ticket to Ride: Europa 1912, with distance of 0.2783121635129677
11: Ticket to Ride: USA 1910, with distance of 0.2783121635129677
12: Ticket to Ride: Switzerland, with distance of 0.2783121635129677
13: Ticket to Ride Map Collection: Volume 3 – The Heart of Africa, with distance of 0.2783121635129677
14: Ticket to Ride Map Collection: Volume 4 – Nederland, with distance of 0.2783121635129677
15: Ticket to Ride: Rails & Sails, with distance of 0.20943058495790523
16: Ticket to Ride: London, with distance of 0.20943058495790523
17: Ticket to Ride: Nordic Countries, with distance of 0.20943058495790523
18: Ticket to Ride: New York, with distance of 0.20943058495790523
19: Ticket to Ride: Europe, with distance of 0.19821627426272703
20: Ticket to Ride: 10th Anniversary, with distance of 0.1250000000000001

In [120]:
my_favorite = 'Harry Potter: Hogwarts Battle'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=10)

You have input movie: Harry Potter: Hogwarts Battle
Found possible matches in our database: ['Harry Potter: Hogwarts Battle', 'Harry Potter Trading Card Game']

Recommendation system start to make inference
......

Recommendations for Harry Potter: Hogwarts Battle:
1: The Lord of the Rings: The Card Game – The Hills of Emyn Muil, with distance of 0.2857142857142859
2: The Big Book of Madness, with distance of 0.2857142857142859
3: The Lord of the Rings: The Card Game – Conflict at the Carrock, with distance of 0.2857142857142859
4: The Lord of the Rings: The Card Game – Khazad-dûm, with distance of 0.2857142857142859
5: The Lord of the Rings: The Card Game – A Journey to Rhosgobel, with distance of 0.2857142857142859
6: The Lord of the Rings: The Card Game – The Hunt for Gollum, with distance of 0.2857142857142859
7: The Lord of the Rings: The Card Game – The Dead Marshes, with distance of 0.2857142857142859
8: Die Legenden von Andor: Chada & Thorn, with distance of 0.2440710539815456
9: Harry Potter: Hogwarts Battle – The Monster Box of Monsters Expansion, with distance of 0.2284832501895404
10: The Lord of the Rings: The Fellowship of the Ring Deck-Building Game, with distance of 0.15484574527148354

In [127]:
my_favorite = 'KLASK'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=20)

You have input movie: KLASK
Found possible matches in our database: ['KLASK', 'Clans', 'Alias', 'Kalah', 'TAMSK']

Recommendation system start to make inference
......

Recommendations for KLASK:
1: Labyrinth, with distance of 0.5000000000000001
2: Loopin' Louie, with distance of 0.5000000000000001
3: Click Clack Lumberjack, with distance of 0.5000000000000001
4: Men at Work, with distance of 0.5000000000000001
5: Loopin' Chewie, with distance of 0.4654775161751513
6: Halli Galli, with distance of 0.4654775161751513
7: Ghost Blitz 2, with distance of 0.42264973081037416
8: Light Speed, with distance of 0.42264973081037416
9: Jungle Speed, with distance of 0.42264973081037416
10: Going, Going, GONE!, with distance of 0.42264973081037416
11: Cockroach Salad, with distance of 0.36754446796632423
12: Ghost Blitz, with distance of 0.36754446796632423
13: Blink, with distance of 0.36754446796632423
14: Dr. Eureka, with distance of 0.36754446796632423
15: Pack & Stack, with distance of 0.36754446796632423
16: Drop It, with distance of 0.29289321881345254
17: Pictomania, with distance of 0.29289321881345254
18: Loony Quest, with distance of 0.29289321881345254
19: Hungry Hungry Hippos, with distance of 0.29289321881345254
20: Speed Cups, with distance of 0.29289321881345254

In [122]:
my_favorite = 'Carcassonne'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=10)

You have input movie: Carcassonne
Found possible matches in our database: ['Carcassonne', 'Cardcassonne', 'My First Carcassonne', 'Carcassonne Big Box 6', 'Carcassonne: Amazonas', 'Carcassonne Big Box 5', 'Carcassonne Big Box 4', 'Carcassonne: The City', 'Carcassonne: Star Wars', 'Carcassonne: Gold Rush', 'Carcassonne: The River', 'Carcassonne: South Seas', 'Carcassonne: The Castle', 'Carcassonne: The Ferries', 'Carcassonne: The Phantom', 'Carcassonne: Promo Tiles', 'Cacao', 'Charterstone', 'Carcassonne: The River II', 'Carcassonne: King & Scout']

Recommendation system start to make inference
......

Recommendations for Carcassonne:
1: Carcassonne: The River II, with distance of 0.1666666666666664
2: Carcassonne: The River, with distance of 0.1666666666666664
3: Carcassonne: Promo Tiles, with distance of 0.1666666666666664
4: Carcassonne: Expansion 1 – Inns & Cathedrals, with distance of 0.1666666666666664
5: Carcassonne Big Box 6, with distance of 0.1666666666666664
6: Carcassonne: Expansion 4 – The Tower, with distance of 0.1666666666666664
7: Carcassonne: Expansion 5 – Abbey & Mayor, with distance of 0.1666666666666664
8: Carcassonne Big Box 5, with distance of 0.0871290708247231
9: Carcassonne Big Box 4, with distance of 0.0871290708247231
10: Carcassonne: Wheel of Fortune, with distance of 0.0871290708247231

In [123]:
my_favorite = 'Catan'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=10)

You have input movie: Catan
Found possible matches in our database: ['Catan', 'Cartagena', 'Aton', 'Canasta', 'Cat Lady', 'Atlantis', 'Cacao', 'Conan', 'Clans', 'Titan']

Recommendation system start to make inference
......

Recommendations for Catan:
1: Catan: Explorers & Pirates, with distance of 0.5232687053772038
2: The Settlers of the Stone Age, with distance of 0.507634036082669
3: Catan: Cities & Knights, with distance of 0.49748109237039395
4: Catan: Cities & Knights – 5-6 Player Extension, with distance of 0.49748109237039395
5: Catan: 5-6 Player Extension, with distance of 0.466998209110974
6: Catan: Portable Edition, with distance of 0.466998209110974
7: Star Trek: Catan, with distance of 0.466998209110974
8: CATAN 3D Collector's Edition, with distance of 0.43019711770181024
9: Istanbul, with distance of 0.39697731084447274
10: The Settlers of Catan: The Fishermen of Catan, with distance of 0.3845425451033362

In [124]:
my_favorite = 'Hungry Hungry Hippo'

make_recommendation(
    model_knn=model_knn,
    data=sparse_game_mech,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=10)

You have input movie: Hungry Hungry Hippo
Found possible matches in our database: ['Hungry Hungry Hippos']

Recommendation system start to make inference
......

Recommendations for Hungry Hungry Hippo:
1: Coconuts, with distance of 0.3291796067500631
2: Happy Salmon, with distance of 0.3291796067500631
3: Dr. Eureka, with distance of 0.3291796067500631
4: RattleSnake, with distance of 0.3291796067500631
5: Pick-a-Dog, with distance of 0.29289321881345254
6: Click Clack Lumberjack, with distance of 0.29289321881345254
7: Loopin' Louie, with distance of 0.29289321881345254
8: KLASK, with distance of 0.29289321881345254
9: Mouse Trap, with distance of 0.25
10: Speed Cups, with distance of 0.25

In [125]:
game_mech.mech.value_counts()

Hand Management           1067
Dice Rolling               926
Variable Player Powers     792
Set Collection             633
Card Drafting              539
                          ...
Matching                     2
Zone of Control              2
Induction                    1
Passed Action Token          1
Auction: English             1
Name: mech, Length: 182, dtype: int64

In [126]:
game_cat.mech.value_counts()

Card Game                     923
Fantasy                       586
Fighting                      440
Expansion for Base-game       427
Economic                      400
                             ...
American Revolutionary War      5
Book                            4
Vietnam War                     2
Game System                     2
Korean War                      1
Name: mech, Length: 83, dtype: int64