In [1]:
import pandas as pd
import numpy as np
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine

In [2]:
with open("username.txt") as f:
    user = f.read()
with open("password.txt") as g:
    password = g.read()

In [3]:
engine = create_engine('mysql+mysqldb://' + user + ':' + password + '@127.0.0.1:3306/board_games?charset=utf8mb4')

In [27]:
user_ratings = pd.read_sql("SELECT * FROM user_ratings", engine)

In [28]:
user_ratings

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
14064607  156089           himokl     4.0
14064608  156089     masterxavier     3.0
14064609  156089        tkzubaran     2.0
14064610  156089       Simplykoke     1.0
14064611  156089           dugger     1.0

[14064612 rows x 3 columns]

In [29]:
user_nrates = pd.DataFrame(user_ratings.username.value_counts())

In [30]:
user_nrates

              username
Doel              2474
leffe dubbel      2320
TomVasel          2106
JasonSaastad      2004
Hessu68           2000
...                ...
Freddy_Plays         1
adamobren            1
Hiannn               1
UnicornGamer         1
eng1neer             1

[324856 rows x 1 columns]

In [31]:
low_raters = user_nrates.loc[user_nrates['username'] < 10].index.tolist()

In [32]:
user_ratings_subset = user_ratings[~user_ratings.username.isin(low_raters)]

In [33]:
user_ratings_subset

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
14064607  156089           himokl     4.0
14064608  156089     masterxavier     3.0
14064609  156089        tkzubaran     2.0
14064610  156089       Simplykoke     1.0
14064611  156089           dugger     1.0

[13610930 rows x 3 columns]

In [34]:
user_ratings_subset.drop_duplicates(inplace=True)

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
multis = user_ratings_subset.loc[user_ratings_subset.duplicated(subset=["gameid", "username"], keep=False)]  # rows where (game, user) is duplicate
df_no_multis = user_ratings_subset.loc[~user_ratings_subset.duplicated(subset=["gameid", "username"], keep=False)] # rows where (game, user) is NOT duplicate

In [36]:
df_ratings = df_no_multis.copy()

In [14]:
#df_ratings.to_sql(name="user_ratings_subset", con=engine, if_exists="append", index=False)

In [4]:
df_ratings = pd.read_sql("SELECT * FROM user_ratings_subset", engine)

In [5]:
df_ratings

          gameid         username  rating
0          30549          Torsten    10.0
1          30549  mitnachtKAUBO-I    10.0
2          30549           avlawn    10.0
3          30549       Mike Mayer    10.0
4          30549          Mease19    10.0
...          ...              ...     ...
13481034  156089           himokl     4.0
13481035  156089     masterxavier     3.0
13481036  156089        tkzubaran     2.0
13481037  156089       Simplykoke     1.0
13481038  156089           dugger     1.0

[13481039 rows x 3 columns]

In [16]:
#df_ratings.groupby('username')['rating'].mean()

username
 beastvol         7.461538
 mycroft          7.635294
-=Yod@=-          7.407843
-Johnny-          5.585752
-Loren-           7.334177
                    ...
zzzuzu            7.285714
zzzvone           6.920833
zzzxxxyyy         8.250000
zzzzzane          7.463571
Æleksandr Þræð    8.150000
Name: rating, Length: 186981, dtype: float64

In [18]:
#df_rating_grouping = df_ratings.groupby('username')

In [19]:
#df_rating_grouping

In [38]:
df_rating_pivot = df_ratings.pivot_table(index = 'gameid', columns = 'username', values = 'rating')

MemoryError:

In [25]:
df_rating_pivot

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mycroft,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-=Yod@=-,NaN,NaN,NaN,7.5,NaN,NaN,7.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Johnny-,5.0,4.0,7.0,NaN,NaN,4.0,6.0,5.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Loren-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzvone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzxxxyyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzzzane,NaN,NaN,NaN,NaN,NaN,NaN,7.0,9.0,8.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Æleksandr Þræð,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
user_means1 = df_rating_pivot.mean(axis=1)

In [27]:
#user_means0 = df_rating_pivot.mean(axis=0)

In [28]:
#user_means1

username
 beastvol         7.461538
 mycroft          7.635294
-=Yod@=-          7.407843
-Johnny-          5.585752
-Loren-           7.334177
                    ...
zzzuzu            7.285714
zzzvone           6.920833
zzzxxxyyy         8.250000
zzzzzane          7.463571
Æleksandr Þræð    8.150000
Length: 186981, dtype: float64

In [29]:
user_means0

gameid
1         7.682495
3         7.463900
5         7.396920
7         6.494584
9         6.464057
            ...
285984    7.758394
286096    7.471114
287954    7.853167
290448    8.472341
291457    9.173556
Length: 3000, dtype: float64

In [30]:
df_rating_pivot = df_rating_pivot.subtract(user_means1, axis = 0)

In [31]:
df_rating_pivot

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.538462,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mycroft,NaN,NaN,0.364706,NaN,NaN,NaN,NaN,NaN,1.364706,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-=Yod@=-,NaN,NaN,NaN,0.092157,NaN,NaN,-0.407843,NaN,-0.407843,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Johnny-,-0.585752,-1.585752,1.414248,NaN,NaN,-1.585752,0.414248,-0.585752,1.414248,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Loren-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,NaN,NaN,NaN,NaN,NaN,NaN,1.714286,NaN,1.714286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzvone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.079167,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzxxxyyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zzzzzane,NaN,NaN,NaN,NaN,NaN,NaN,-0.463571,1.536429,1.036429,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Æleksandr Þræð,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_rating_pivot.fillna(0)

gameid,1,3,5,7,9,10,11,12,13,14,...,283948,284083,284435,284760,285774,285984,286096,287954,290448,291457
username,,,,,,,,,,,,,,,,,,,,,
beastvol,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.538462,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mycroft,0.000000,0.000000,0.364706,0.000000,0.0,0.000000,0.000000,0.000000,1.364706,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-=Yod@=-,0.000000,0.000000,0.000000,0.092157,0.0,0.000000,-0.407843,0.000000,-0.407843,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-Johnny-,-0.585752,-1.585752,1.414248,0.000000,0.0,-1.585752,0.414248,-0.585752,1.414248,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-Loren-,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzzuzu,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.714286,0.000000,1.714286,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzvone,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.079167,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzxxxyyy,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzzzzane,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,-0.463571,1.536429,1.036429,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Æleksandr Þræð,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
from scipy.sparse import csr_matrix

In [3]:
df_sparse_matrix = csr_matrix(df_rating_pivot.values)

NameError: name 'df_rating_pivot' is not defined

In [6]:
df_rating_pivot2 = df_ratings.groupby(['gameid', 'username'])['rating'].max().unstack()

In [7]:
df_rating_pivot2

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,4.0,NaN,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,8.0,NaN,7.0,NaN,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
user_means1b = df_rating_pivot2.mean(axis=1)

In [9]:
df_rating_pivot2 = df_rating_pivot2.subtract(user_means1b, axis = 0)

In [10]:
df_rating_pivot2

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,-2.682495,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,-3.463900,NaN,NaN,0.5361,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,0.60308,NaN,-0.396920,NaN,NaN,NaN,-0.39692,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1.005416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.528886,-0.471114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.853167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_rating_pivot2 = df_rating_pivot2.fillna(0)

In [12]:
df_rating_pivot2

username,beastvol,mycroft,-=Yod@=-,-Johnny-,-Loren-,-LucaS-,-mIDE-,-mik-,-pj-,-snarf-,...,zzz2525,zzzabiss,zzzeagle,zzzk1,zzzkardel,zzzuzu,zzzvone,zzzxxxyyy,zzzzzane,Æleksandr Þræð
gameid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.00000,0.000000,-2.682495,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00000,0.000000,-3.463900,0.0,0.0,0.5361,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.60308,0.000000,-0.396920,0.0,0.0,0.0000,-0.39692,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.00000,1.005416,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285984,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286096,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,2.528886,-0.471114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287954,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,-0.853167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
290448,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
291457,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0000,0.00000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from scipy.sparse import csr_matrix
df_sparse_matrix = csr_matrix(df_rating_pivot2.values)

In [15]:
df_games = pd.read_sql("SELECT id, name FROM games", engine)

In [16]:
df_games

          id                                               name
0      30549                                           Pandemic
1        822                                        Carcassonne
2         13                                              Catan
3      68448                                          7 Wonders
4      36218                                           Dominion
...      ...                                                ...
2995  241533  Mansions of Madness: Second Edition – Sanctum ...
2996   37235                                    Agricola Z-Deck
2997    8552                                              I Go!
2998   20542              Advanced Squad Leader: Starter Kit #3
2999  156089                    Arcadia Quest: Beyond the Grave

[3000 rows x 2 columns]

In [17]:
game_to_idx = {
    game: i for i, game in 
    enumerate(list(df_games.set_index('id').loc[df_rating_pivot2.index].name))
}

In [18]:
game_to_idx

{'Die Macher': 0,
 'Samurai': 1,
 'Acquire': 2,
 'Cathedral': 3,
 'El Caballero': 4,
 'Elfenland': 5,
 'Bohnanza': 6,
 'Ra': 7,
 'Catan': 8,
 'Basari': 9,
 'Cosmic Encounter': 1137,
 'RoboRally': 11,
 'Wacky Wacky West': 12,
 'Magic Realm': 13,
 'Age of Renaissance': 14,
 'Supremacy: The Game of the Superpowers': 15,
 'Illuminati (Second Edition)': 16,
 'Dark Tower': 17,
 "Can't Stop": 18,
 'Tigris & Euphrates': 19,
 'David & Goliath': 20,
 'Perudo': 21,
 'Medici': 22,
 'Chinatown': 23,
 'Mamma Mia!': 24,
 'Lost Cities': 25,
 'Ricochet Robots': 26,
 'Tikal': 27,
 'Kings & Things': 28,
 'Giganten': 29,
 'Vinci': 30,
 'Löwenherz': 31,
 'Big City': 32,
 'Civilization': 33,
 'Verräter': 34,
 'Show Manager': 35,
 'Apples to Apples': 36,
 'Falling': 37,
 'Torres': 38,
 'Paths of Glory': 39,
 'El Grande': 40,
 'Union Pacific': 41,
 'Igel Ärgern': 42,
 'Conquest of the Empire': 744,
 'Axis & Allies': 629,
 'Fortress America': 45,
 'Detroit-Cleveland Grand Prix': 46,
 'Titan': 47,
 'Colossal Arena': 48,
 'Mystery Rummy: Jack the Ripper': 49,
 'TAMSK': 50,
 'Auf Achse': 51,
 'Rheinländer': 52,
 'Condottiere': 53,
 "I'm the Boss!": 54,
 'Guillotine': 55,
 'Ta Yü': 56,
 'Modern Art': 57,
 'Kingdoms': 58,
 'Hoity Toity': 59,
 'Dune': 2988,
 'Quo Vadis?': 61,
 'Primordial Soup': 62,
 'Money!': 63,
 'Take it Easy!': 64,
 'Iron Dragon': 65,
 'Caesar & Cleopatra': 66,
 'Pass the Bomb': 67,
 'Pit': 68,
 'Andromeda': 69,
 'Crude: The Oil Game': 70,
 'PitchCar': 71,
 'Mü & More': 72,
 'Take 5!': 73,
 'Eurorails': 74,
 'The Awful Green Things From Outer Space': 75,
 'Balderdash': 76,
 'Before I Kill You, Mister Spy...': 77,
 'Empire Builder': 78,
 'En Garde': 79,
 'Family Business': 80,
 'Chess': 81,
 'For Sale': 82,
 'Formula Dé': 83,
 'What the Heck?': 84,
 'Give Me the Brain!': 85,
 'Advanced Civilization': 86,
 'Risk': 87,
 'Go': 88,
 'Nicht die Bohne!': 89,
 'Kremlin': 90,
 'Manhattan': 91,
 'Entdecker': 92,
 'The Rose King': 93,
 "Stephenson's Rocket": 94,
 'Café International': 95,
 'Tichu': 96,
 'A la carte': 97,
 'High Society': 98,
 'Ikusa': 99,
 'Space Beans': 100,
 'Expedition': 101,
 'History of the World': 102,
 'Knightmare Chess': 103,
 'Lunch Money': 104,
 'King of the Elves': 105,
 'Merchant of Venus': 106,
 'Serenissima': 107,
 'Hannibal: Rome vs. Carthage': 108,
 'Blackbeard': 109,
 'Wooden Ships & Iron Men': 110,
 'Britannia': 111,
 'Junta': 112,
 'Advanced Squad Leader': 113,
 'Circus Maximus': 114,
 'Gloria Picktoria': 115,
 'Lifeboats': 116,
 'Empires in Arms': 117,
 'Mississippi Queen': 118,
 'Kill Doctor Lucky': 119,
 'Fluxx': 120,
 'Intrigue': 121,
 'Catan Card Game': 122,
 'Machiavelli': 123,
 'Bazaar': 124,
 'Bamboleo': 125,
 'Medieval Merchant': 126,
 'Tutankhamen': 127,
 'Die Siedler von Catan: Historische Szenarien': 128,
 "Wizard's Quest": 129,
 'Scrabble': 130,
 'Catan: Seafarers': 131,
 "Loopin' Louie": 132,
 'Waterworks': 133,
 'Circus Flohcati': 134,
 'Quiddler': 135,
 "Frank's Zoo": 136,
 'Merchants of the Middle Ages': 137,
 "Stick 'Em": 138,
 'Excape': 139,
 'Hare & Tortoise': 140,
 'Relationship Tightrope': 141,
 'Schotten Totten': 142,
 'Polarity': 143,
 'Heimlich & Co.': 144,
 'Pirateer': 145,
 'Brawl': 146,
 'Kahuna': 147,
 'Wildlife Safari': 148,
 'Elk Fest': 149,
 'Rail Baron': 150,
 '1830: Railways & Robber Barons': 151,
 '1856: Railroading in Upper Canada from 1856': 152,
 'Grass': 153,
 '6 nimmt!': 154,
 'Shark': 155,
 'Master Labyrinth': 156,
 'Scotland Yard': 157,
 'Um Reifenbreite': 158,
 'Code 777': 159,
 'Escape from the Hidden Castle': 160,
 'Magic: The Gathering': 161,
 'Inkognito': 162,
 'DungeonQuest': 163,
 'Taj Mahal': 164,
 'Citadels': 2552,
 'Carolus Magnus': 166,
 'Diplomacy': 167,
 'Galloping Pigs': 168,
 'Web of Power': 169,
 "Aladdin's Dragons": 170,
 'Ave Caesar': 171,
 'Through the Desert': 172,
 'Silverton': 173,
 'Axis & Allies: Europe': 174,
 'Crokinole': 175,
 'Abalone Classic': 176,
 'GIPF': 177,
 'ZÈRTZ': 178,
 'Merchants of Amsterdam': 179,
 'Labyrinth: The Card Game': 180,
 'Animocrazy 豬事議會': 181,
 'Barbarossa': 182,
 'Battle Cry': 183,
 'Bus': 184,
 'Chez Geek': 185,
 'La Città': 186,
 'The Princes of Florence': 187,
 'Metro': 188,
 'Rage': 189,
 'Up Front': 190,
 'Wiz-War': 191,
 'Mille Bornes': 192,
 'Spades': 193,
 'Sleuth': 194,
 'The Bottle Imp': 195,
 'We the People': 196,
 'Quoridor': 197,
 'War and Peace': 198,
 'Daytona 500': 199,
 'Cloud 9': 200,
 'Elixir': 201,
 'River Dragons': 202,
 'Formula Motor Racing': 203,
 'Hera and Zeus': 204,
 'Castle': 205,
 'Starship Troopers': 206,
 'Quarto': 207,
 'Timbuktu': 208,
 'Wizard Kings': 209,
 'HeroQuest': 210,
 'Battle Masters': 211,
 'A House Divided: War Between the States 1861-65': 212,
 'Blood Bowl (Third Edition)': 213,
 'Nuclear War': 214,
 'Talisman': 215,
 'Escape from Colditz': 216,
 'Breakout: Normandy': 217,
 'Battle Line': 218,
 'Mad Gab': 219,
 'Loot': 220,
 'Ace of Aces: Handy Rotary Series': 221,
 'Buffy the Vampire Slayer: The Game': 222,
 'Rummikub': 223,
 'Aquarius': 224,
 'Chrononauts': 225,
 'Carcassonne': 226,
 'The Lord of the Rings': 227,
 'Cartagena': 228,
 'Attila': 229,
 'For the People': 230,
 'Feudal': 231,
 'Java': 232,
 'Illuminati': 233,
 'Roads & Boats': 234,
 'Wyatt Earp': 235,
 'Ivanhoe': 236,
 'Cranium': 237,
 'Meuterer': 238,
 'Hamsterrolle': 239,
 'Dream Factory': 240,
 'Tally Ho!': 241,
 'Mystery of the Abbey': 242,
 'Rack-O': 243,
 'Werewolf': 244,
 'Catan: Cities & Knights': 245,
 'The Great Dalmuti': 246,
 'Top Race': 247,
 'The Fury of Dracula': 248,
 'Enchanted Forest': 249,
 "Star Wars: The Queen's Gambit": 250,
 'Turbo Taxi': 251,
 'Ligretto': 252,
 'Twixt': 253,
 'The Gardens of the Alhambra': 254,
 'Al Cabohne': 255,
 'Babel': 256,
 'Kingmaker': 257,
 'B-17: Queen of the Skies': 258,
 'Squad Leader': 259,
 'Tantrix': 260,
 'San Marco': 261,
 "Dragon's Gold": 262,
 'Gunslinger': 263,
 'Nyet!': 264,
 'Taboo': 265,
 'Poker': 266,
 'Oh Hell!': 267,
 "You're Bluffing!": 268,
 'Capitol': 269,
 'Save Doctor Lucky': 270,
 'Evo': 271,
 'Speed Circuit': 272,
 'Blink': 273,
 'SET': 274,
 'Labyrinth': 550,
 'Bausack': 276,
 'Once Upon a Time: The Storytelling Card Game': 277,
 'Phase 10': 278,
 'Rook': 279,
 'Medina': 280,
 'Axis & Allies: Pacific': 281,
 'Mystery Rummy: Jekyll & Hyde': 282,
 'Skip-Bo': 283,
 'Star Wars Customizable Card Game': 284,
 '221B Baker Street: The Master Detective Game': 285,
 'Boggle': 286,
 'Clue': 1713,
 'Pente': 288,
 "Trivial Pursuit: Star Wars Classic Trilogy Collector's Edition": 289,
 'Monopoly: Star Wars': 290,
 'Netrunner': 291,
 'Cosmic Wimpout': 292,
 'Africa': 293,
 'Entdecker: Exploring New Horizons': 294,
 'Dungeon!': 295,
 'Genoa': 296,
 "Time's Up!": 297,
 'Serengeti': 298,
 'Pokémon Master Trainer': 299,
 "Winner's Circle": 300,
 'Turn the Tide': 301,
 'Monopoly': 302,
 'Trouble': 303,
 'Pylos': 304,
 'Lord of the Rings: The Search': 305,
 'Victory in the Pacific': 306,
 'Sharp Shooters': 307,
 'Wizard': 308,
 'Five Crowns': 309,
 'Careers': 310,
 'Clue: The Great Museum Caper': 311,
 'Outpost': 312,
 'Bohnanza Erweiterungs-Set (Revised Edition)': 313,
 'World in Flames': 314,
 'Masterpiece': 315,
 'Hotel Tycoon': 316,
 'The Republic of Rome': 317,
 'Upwords': 318,
 'PitchCar Extension': 319,
 'Lord of the Fries': 320,
 'BattleTech': 321,
 'Beyond Balderdash': 322,
 'Illuminati: New World Order': 323,
 'Clue Master Detective': 324,
 'Rise and Decline of the Third Reich': 325,
 'Space Crusade': 326,
 'RoboRally: Armed and Dangerous': 327,
 'Star Fleet Battles': 328,
 'Streetcar': 329,
 'The Mad Magazine Game': 330,
 'Ambush!': 331,
 'Mutant Chronicles: Siege of the Citadel': 332,
 'Warhammer Quest': 333,
 'Napoléon: The Waterloo Campaign, 1815': 334,
 'Unexploded Cow': 335,
 'Talisman Expansion Set': 336,
 'Talisman City': 337,
 'The Talisman Dungeon': 338,
 'Advanced Heroquest': 339,
 'HeroQuest: Return of the Witch Lord': 340,
 "HeroQuest: Kellar's Keep": 341,
 'Fireball Island': 342,
 'Pay Day': 343,
 'Wilderness War': 344,
 'Risk 2210 A.D.': 345,
 'Dragon Dice': 346,
 'Legend of the Five Rings': 347,
 'The Starfarers of Catan': 348,
 '13 Dead End Drive': 349,
 'Middle-earth': 350,
 'Stratego': 351,
 'MindTrap': 352,
 'Munchkin': 353,
 'Key to the Kingdom': 354,
 'The Mysteries of Peking': 355,
 'Tribond': 356,
 'Spy Alley': 357,
 'Frag': 358,
 'Shogi': 359,
 'The Civil War 1861-1865': 360,
 'Checkers': 361,
 'Mahjong': 362,
 'Vampire: The Eternal Struggle': 363,
 'Pachisi': 364,
 'Warhammer 40,000 (Third Edition)': 365,
 'Space Hulk': 366,
 'Pokémon Trading Card Game': 367,
 'Bridge': 368,
 'UNO': 369,
 'PanzerBlitz': 370,
 'Yahtzee': 371,
 'Strat-O-Matic Baseball': 372,
 'Gobblet': 373,
 'Aggravation': 374,
 'Pictionary': 375,
 'Blood Bowl (Second Edition)': 376,
 'Phantoms vs Phantoms': 377,
 'Starship Catan': 378,
 'DVONN': 379,
 'Sequence': 380,
 'Guesstures': 381,
 'Scattergories': 382,
 'Chinese Checkers': 383,
 'Othello': 384,
 'Mastermind': 385,
 'Xiangqi': 386,
 'Dominoes': 387,
 'Backgammon': 388,
 'Cribbage': 389,
 'Sorry!': 390,
 'Battleship': 391,
 'Kalah': 392,
 'Lord of the Rings: Friends & Foes': 393,
 'Jenga': 394,
 'Blokus': 395,
 'The Hobbit: The Defeat of Smaug': 396,
 'Zombies!!!': 397,
 'Industrial Waste': 398,
 'Liberté': 399,
 'Sherlock Holmes Consulting Detective: The Thames Murders & Other Cases': 400,
 'Kupferkessel Co.': 401,
 'Valley of the Mammoths': 402,
 'Castle Risk': 403,
 'Pick Picknic': 404,
 'Atlantic Star': 405,
 'Catch Phrase!': 406,
 'Carcassonne: The River': 407,
 'Pass the Pigs': 408,
 'Villa Paletti': 409,
 'The Lord of the Rings Trading Card Game': 410,
 'Compatibility': 411,
 'DOG': 412,
 'Panzer Leader: Game of Tactical Warfare on the Western Front': 413,
 'Power Grid': 414,
 'Survive: Escape from Atlantis!': 415,
 'Hive': 416,
 'Mouse Trap': 417,
 'Connect Four': 418,
 'Chez Geek 3: Block Party': 419,
 'Imaginiff': 420,
 'Car Wars': 421,
 'Chez Geek 2: Slack Attack': 422,
 'Catan: 5-6 Player Extension': 423,
 'The Russian Campaign': 424,
 'UNO Attack!': 425,
 'TransAmerica': 426,
 'Catan Card Game: Expansion Set': 427,
 'The Game of Life': 428,
 'Hnefatafl': 429,
 'Halli Galli': 430,
 'Trivial Pursuit: Genus Edition': 431,
 'Mexica': 432,
 'Confusion:  Espionage and Deception in the Cold War': 433,
 "Pirate's Cove": 434,
 'Carcassonne: Expansion 1 – Inns & Cathedrals': 435,
 'Necromunda': 436,
 'Puerto Rico': 437,
 'Gang of Four': 438,
 'The Omega Virus': 439,
 'Goldland': 440,
 'The Bucket King': 441,
 'Nautilus': 442,
 'Farkle': 443,
 'Lord of the Rings: The Confrontation': 758,
 'Pueblo': 445,
 'Dschunke': 446,
 'WildLife': 447,
 'Wooly Wars': 448,
 'Pizarro & Co.': 449,
 'Star Wars: Epic Duels': 450,
 'Wallenstein': 451,
 'Go For Broke': 452,
 'World War II: Barbarossa to Berlin': 453,
 'StreetSoccer': 454,
 'HeroClix': 455,
 'Emerald': 456,
 'Harry Potter Trading Card Game': 457,
 'Battle of the Sexes': 458,
 'LCR': 459,
 'Mordheim: City of the Damned': 460,
 'Chicken Cha Cha Cha': 461,
 'Too Many Cooks': 462,
 "Sid Meier's Civilization: The Boardgame": 463,
 'Zombies!!! 2: Zombie Corps(e)': 464,
 'The Settlers of Canaan': 465,
 'Hammer of the Scots': 466,
 'Killer Bunnies and the Quest for the Magic Carrot': 467,
 'Subbuteo': 468,
 'Ker Plunk': 469,
 'Operation': 470,
 'Himalaya': 471,
 'Slamwich': 472,
 'Alias': 473,
 'Lord of the Rings: Sauron': 474,
 'Rat-a-Tat Cat': 475,
 'Star Trek Customizable Card Game': 476,
 '7 Ages': 477,
 "Nine Men's Morris": 478,
 'Mare Nostrum': 479,
 'Munchkin 2: Unnatural Axe': 480,
 'BANG!': 481,
 'Catan: Portable Edition': 482,
 'Tri-Ominos': 483,
 'Star Munchkin': 484,
 'Age of Steam': 485,
 'Keythedral': 486,
 'Catan: Cities & Knights – 5-6 Player Extension': 487,
 'Catan: Seafarers – 5-6 Player Extension': 488,
 'Guess Who?': 489,
 'Yu-Gi-Oh! Trading Card Game': 490,
 'Lifeboat': 491,
 'Warhammer: The Mass Combat Fantasy Roleplaying Game (1st Edition)': 492,
 'Monza': 493,
 'O Zoo le Mio': 494,
 'Trias': 495,
 'Risk: The Lord of the Rings': 496,
 'Carcassonne: Hunters and Gatherers': 497,
 'The Settlers of the Stone Age': 498,
 "Odin's Ravens": 499,
 'Fist of Dragonstones': 500,
 'Scarab Lords': 501,
 'Cave Troll': 502,
 'Trivial Pursuit: 20th Anniversary Edition': 503,
 'Hellas': 504,
 'Attribute': 505,
 'Lord of the Rings: The Duel': 506,
 'Clans': 507,
 'Warmachine': 508,
 'Outburst!': 509,
 'Scene It?: The DVD Movie Game': 510,
 "Don't Break the Ice": 511,
 'Candy Land': 512,
 'Carrom': 513,
 'Afrikan tähti': 514,
 'Ogre': 515,
 'Beyond Valor: ASL Module 1': 516,
 'Talisman (Third Edition)': 517,
 'Monopoly Junior': 518,
 'Amun-Re': 519,
 'Carcassonne: Expansion 2 – Traders & Builders': 520,
 'New England': 521,
 'Chutes and Ladders': 522,
 'Light Speed': 523,
 'Dungeoneer: Tomb of the Lich Lord': 524,
 'Perfection': 525,
 'Balloon Cup': 526,
 'Domaine': 527,
 'Mammoth Hunters': 528,
 'Edel, Stein & Reich': 529,
 'Coloretto': 530,
 'Richelieu': 531,
 'Paris Paris': 532,
 '10 Days in Europe': 533,
 'Twister': 534,
 'Hungry Hungry Hippos': 535,
 'Duel of Ages Set 1: Worldspanner': 536,
 "Queen's Necklace": 537,
 'Zombies!!! 3:  Mall Walkers': 538,
 'Europe Engulfed: WWII European Theatre Block Game': 539,
 'Killer Bunnies and the Quest for the Magic Carrot: RED Booster': 540,
 'Alhambra': 541,
 "King's Breakfast": 542,
 'Eketorp': 543,
 'Gulo Gulo': 544,
 'Dungeons & Dragons: The Fantasy Adventure Board Game': 545,
 'Blokus 3D': 546,
 'Pick Up Sticks': 547,
 'A Game of Thrones': 548,
 'Articulate!': 549,
 'Munchkin 3: Clerical Errors': 551,
 'Munchkin Fu': 552,
 'Age of Mythology: The Boardgame': 553,
 'Quicksand': 554,
 'Attack!': 555,
 'The Ark of the Covenant': 556,
 'Battleball': 557,
 'Zendo': 558,
 'Hearts': 559,
 'Euchre': 560,
 "Reiner Knizia's Decathlon": 561,
 'Monopoly: Deluxe Edition': 562,
 'Bingo': 563,
 'WarCraft: The Board Game': 564,
 'Sword of Rome': 565,
 'Go Fish': 566,
 'Memory': 567,
 'Carcassonne: King & Scout': 568,
 'Hisss': 569,
 'Carcassonne: The Castle': 570,
 'Dracula': 571,
 'Fearsome Floors': 572,
 'King Up!': 573,
 'Zombies!!! 3.5:  Not Dead Yet': 574,
 'YINSH': 575,
 '10 Days in Africa': 576,
 '10 Days in the USA': 577,
 'Dungeons & Dragons Miniatures': 578,
 'Princes of the Renaissance': 579,
 'Attika': 580,
 'Prophecy': 581,
 'Jungle Speed': 582,
 'Risk: The Lord of the Rings Trilogy Edition': 583,
 'Industria': 584,
 'Santiago': 585,
 'Sluff Off!': 586,
 'Anno 1503': 587,
 'Return of the Heroes': 588,
 'Coyote': 589,
 'The Bridges of Shangri-La': 590,
 'Viva Topo!': 591,
 "Hey, That's My Fish!": 592,
 'Dungeoneer: Vault of the Fiends': 593,
 'San Juan': 594,
 'Spank the Monkey': 595,
 'BANG! High Noon': 596,
 'Crusader Rex': 597,
 'Age of Napoleon': 598,
 'Ninja Burger': 599,
 'I Go!': 600,
 'Igloo Pop': 601,
 'Dancing Eggs': 602,
 'Coda': 603,
 'Hansa': 604,
 'Oasis': 605,
 'Tongiaki: Journey into the Unknown': 606,
 'Saga': 607,
 'Wings of War: Famous Aces': 608,
 'Ticket to Ride': 609,
 'Goa': 610,
 'Saint Petersburg': 611,
 'Saboteur': 612,
 'Lost Valley': 613,
 'Dos Rios': 614,
 'Maharaja: The Game of Palace Building in India': 615,
 'Ribbit': 616,
 'Blue Moon': 617,
 'War of the Ring': 618,
 'Struggle of Empires': 619,
 'BANG! Dodge City': 620,
 'Ingenious': 621,
 'La Strada': 622,
 "Alhambra: The Vizier's Favor": 623,
 'Advanced Squad Leader: Starter Kit #1': 624,
 'Runebound': 625,
 'Shut the Box': 626,
 'Wings of War: Watch Your Back!': 627,
 'Axis & Allies: D-Day': 628,
 'Zombies!!! 4: The End...': 630,
 "Make 'n' Break": 631,
 'Risk: Godstorm': 632,
 'Camelot Legends': 633,
 'Betrayal at House on the Hill': 634,
 'Big Boggle': 635,
 "Memoir '44": 636,
 'Doom: The Boardgame': 637,
 'Pirates of the Spanish Main': 638,
 'Jungle Speed: The Extreme Expansion': 639,
 'Apples to Apples Junior': 640,
 'Star Munchkin 2: The Clown Wars': 641,
 'Old Maid': 642,
 'Blackjack': 643,
 'A Game of Thrones: A Clash of Kings Expansion': 644,
 'The Game of Things': 645,
 'Boomtown': 646,
 'Heroscape Master Set: Rise of the Valkyrie': 647,
 'Star Wars Miniatures': 648,
 'Snorta!': 649,
 'Mexican Train': 650,
 'Empire of the Sun': 651,
 'Tic-Tac-Toe': 652,
 'Cockroach Poker': 653,
 'Jambo': 654,
 'Candamir: The First Settlers': 655,
 'Around the World in 80 Days': 656,
 'Munchkin Bites!': 657,
 'In a Pickle': 658,
 'Twilight Struggle': 659,
 'Spooky Stairs': 660,
 'Puerto Rico: Expansion I – New Buildings': 661,
 'Bootleggers': 662,
 'Twilight Imperium (Third Edition)': 663,
 'Fire & Axe: A Viking Saga': 664,
 'Razzia!': 665,
 'Goldbräu': 666,
 'Neuland': 667,
 'Gloom': 668,
 'Ys': 669,
 'Friedrich': 670,
 'Carcassonne: The City': 671,
 'Carcassonne: The Count of Carcassonne': 672,
 'No Thanks!': 673,
 'Reef Encounter': 674,
 'Dungeon Twister': 675,
 'The Downfall of Pompeii': 676,
 'Antiquity': 677,
 'Gloria Mundi': 678,
 'Alhambra: The City Gates': 679,
 'Citadels:  The Dark City': 680,
 'Caribbean': 681,
 'Niagara': 682,
 'Warhammer 40,000 (Fourth Edition)': 683,
 'Oltre Mare': 684,
 'Louis XIV': 685,
 'In the Shadow of the Emperor': 686,
 'Fairy Tale': 687,
 'The Scepter of Zavandor': 688,
 'Commands & Colors: Ancients': 689,
 'PitchCar Mini': 690,
 'Marvel Heroes': 691,
 'Ticket to Ride: Europe': 692,
 'Australia': 693,
 'Risk: Star Wars – The Clone Wars Edition': 694,
 'Shadows over Camelot': 695,
 'Advanced Squad Leader: Starter Kit #2': 696,
 'Amazonas': 697,
 'Carcassonne: Expansion 3 – The Princess & The Dragon': 698,
 'R-Eco': 699,
 'Palazzo': 700,
 'Nexus Ops': 701,
 'Vegas Showdown': 702,
 'Tower of Babel': 703,
 'Fjords': 704,
 'Diamant': 705,
 'Kreta': 706,
 'Manila': 707,
 'Pickomino': 708,
 'Rummy': 709,
 'Wings of War: Burning Drachens': 710,
 'Conquest of Paradise': 711,
 'Blood Bowl: Living Rulebook': 712,
 'Arkham Horror': 713,
 'Carcassonne: The Discovery': 714,
 'Trans Europa': 715,
 'Funny Friends': 716,
 'Blokus Duo': 717,
 'War': 718,
 'Roma': 719,
 'Rat Hot': 720,
 'Architekton': 721,
 'Tumblin-Dice': 722,
 'Mall of Horror': 723,
 'Super Munchkin': 724,
 'Ubongo': 725,
 'Khet: The Laser Game': 726,
 'Tsuro': 727,
 'Friday the 13th': 728,
 'Sitting Ducks Gallery': 729,
 'Sleeping Queens': 730,
 'Canasta': 731,
 'Railways of the World': 732,
 'Tempus': 733,
 'World of Warcraft: The Boardgame': 734,
 'Descent: Journeys in the Dark': 735,
 "That's Life!": 736,
 'Animal Upon Animal': 737,
 'Here I Stand': 738,
 'Manoeuvre': 739,
 '1846: The Race for the Midwest': 740,
 "CATAN 3D Collector's Edition": 741,
 'Beowulf: The Legend': 742,
 'Super Farmer': 743,
 'Monsters Menace America': 745,
 'Pizza Box Football': 746,
 'Axis & Allies Miniatures': 747,
 'War of the Ring: Battles of the Third Age': 748,
 "Napoleon's Triumph": 749,
 'China': 750,
 'Gloom: Unhappy Homes': 751,
 'Mission: Red Planet': 752,
 'Nature Fluxx': 753,
 'Caylus': 754,
 'Aye, Dark Overlord! The Red Box': 755,
 'Sun Tzu': 756,
 'Black Stories': 757,
 'Carcassonne: The River II': 759,
 'Shear Panic': 760,
 'Hacienda': 761,
 "Ca$h 'n Gun$": 762,
 "Memoir '44: Terrain Pack": 763,
 "Memoir '44: Eastern Front": 764,
 'Mesopotamia': 765,
 'Power Grid: France/Italy': 766,
 'The Settlers of Catan: The Fishermen of Catan': 767,
 'Byzantium': 768,
 'Quelf': 769,
 "Memoir '44: Winter/Desert Board Map": 770,
 'A Game of Thrones: A Storm of Swords Expansion': 771,
 'Euphrates & Tigris: Contest of Kings': 772,
 'Gemblo': 773,
 'Elasund: The First City': 774,
 'Antike': 775,
 'A Victory Lost: Crisis in Ukraine 1942-1943': 776,
 'World of Warcraft Trading Card Game': 777,
 'Il Principe': 778,
 'PÜNCT': 779,
 'Indonesia': 780,
 'Pentago': 781,
 'Glory to Rome': 782,
 'Ark': 783,
 'Rum & Pirates': 784,
 'Robber Knights': 785,
 'Canal Mania': 786,
 'Nacht der Magier': 787,
 'Aton': 788,
 'Terra Nova': 789,
 'Doom: The Boardgame Expansion Set': 790,
 'Aqua Romana': 791,
 'Wits & Wagers': 792,
 'The End of the Triumvirate': 793,
 'BANG! A Fistful of Cards': 794,
 'Lords of Vegas': 795,
 'Advanced Squad Leader: Starter Kit #3': 796,
 "Rory's Story Cubes": 797,
 'Shogun': 798,
 'Munchkin 4: The Need for Steed': 799,
 'Black Stories 2': 800,

In [19]:
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import fuzz

In [20]:
%env JOBLIB_TEMP_FOLDER=/tmp
# define model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-2)
# fit
model_knn.fit(df_sparse_matrix)

env: JOBLIB_TEMP_FOLDER=/tmp

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-2, n_neighbors=20, p=2,
                 radius=1.0)

In [21]:
def fuzzy_matching(mapper, fav_game, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    
    Parameters
    ----------    
    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie
    
    verbose: bool, print log if True

    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for name, idx in mapper.items():
        ratio = fuzz.ratio(name.lower(), fav_game.lower())
        if ratio >= 60:
            match_tuple.append((name, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]



def make_recommendation(model_knn, data, mapper, fav_game, n_recommendations):
    """
    return top n similar movie recommendations based on user's input movie


    Parameters
    ----------
    model_knn: sklearn model, knn model

    data: movie-user matrix

    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie

    n_recommendations: int, top n recommendations

    Return
    ------
    list of top n similar movie recommendations
    """
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input movie:', fav_game)
    idx = fuzzy_matching(mapper, fav_game, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_game))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [22]:
my_favorite = 'Ticket to Ride'

make_recommendation(
    model_knn=model_knn,
    data=df_sparse_matrix,
    fav_game=my_favorite,
    mapper=game_to_idx,
    n_recommendations=10)

You have input movie: Ticket to Ride
Found possible matches in our database: ['Ticket to Ride', 'Ticket to Ride: London', 'Ticket to Ride: Europe', 'Ticket to Ride: Märklin', 'Ticket to Ride: New York', 'Ticket to Ride: USA 1910', 'Ticket to Ride: Europa 1912', 'Ticket to Ride: Switzerland', 'Ticket to Ride: Rails & Sails', 'Ticket to Ride: The Card Game', 'Ticket to Ride: Alvin & Dexter', 'T.I.M.E Stories', 'Ticket to Ride: 10th Anniversary', 'Ticket to Ride: Nordic Countries']

Recommendation system start to make inference
......

Recommendations for Ticket to Ride:
1: King of Tokyo, with distance of 0.8401937555298005
2: Stone Age, with distance of 0.8390437762405044
3: Splendor, with distance of 0.8303420429760962
4: 7 Wonders, with distance of 0.8280778150616749
5: Ticket to Ride: Nordic Countries, with distance of 0.8264507044642562
6: Pandemic, with distance of 0.7962485705647631
7: Catan, with distance of 0.7886066181736919
8: Carcassonne, with distance of 0.777196950596637
9: Ticket to Ride: USA 1910, with distance of 0.7582984357792669
10: Ticket to Ride: Europe, with distance of 0.6977116658804823

In [23]:
import scipy.sparse
scipy.sparse.save_npz('obj/sparse_matrix2.npz', df_sparse_matrix)