In [1]:
import requests
from bs4 import BeautifulSoup
import scipy.io
import matplotlib.pyplot as plt
import matplotlib 
import pandas as pd
import numpy as np
import pickle
from time import sleep
import timeit

In [2]:
def request(msg, slp=1):
    status_code = 500  # Want to get a status-code of 200
    while status_code != 200:
        sleep(slp)  # Don't ping the server too often
        try:
            r = requests.get(msg)
            status_code = r.status_code
            if status_code != 200:
                print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        except:
            print("An exception has occurred, probably a momentory loss of connection. Waiting one seconds...")
            sleep(1)
    return r

In [4]:
# Initialize a DF to hold all our scraped game info
df_all = pd.DataFrame(columns=["id", "name", "nrate", "pic_url"])
min_nrate = 1e5
npage = 1

# Scraping successful pages in the results until we get down to games with < 1000 ratings each
while min_nrate > 1000:
    # Get full HTML for a specific page in the full listing of boardgames sorted by nrates 
    r = request("https://boardgamegeek.com/browse/boardgame/page/%i?sort=numvoters&sortdir=desc" % (npage,))
    soup = BeautifulSoup(r.text, "html.parser")    
    
    # Get rows for the table listing all the games on this page
    table = soup.find_all("tr", attrs={"id": "row_"})  # Get list of games on this page
    df = pd.DataFrame(columns=["id", "name", "nrate", "pic_url"], index=range(len(table)))  # DF to hold this pages results
    
    # Loop through each row and pull out the info for that game
    for idx, row in enumerate(table):
        # Row may or may not start with a "boardgame rank" link, if YES then strip it
        links = row.find_all("a")
        if "name" in links[0].attrs.keys():
            del links[0]
        gamelink = links[1]  # Get the relative URL for the specific game
        gameid = int(gamelink["href"].split("/")[2])  # Get the game ID by parsing the relative URL
        gamename = gamelink.contents[0]  # Get the actual name of the game as the link contents
        imlink = links[0]  # Get the URL for the game thumbnail
        thumbnail = imlink.contents[0]["src"]

        ratings_str = row.find_all("td", attrs={"class": "collection_bggrating"})[2].contents[0]
        nratings = int("".join(ratings_str.split()))

        df.iloc[idx, :] = [gameid, gamename, nratings, thumbnail]

    # Concatenate the results of this page to the master dataframe
    min_nrate = df["nrate"].min()  # The smallest number of ratings of any game on the page
    print("Page %i scraped, minimum number of ratings was %i" % (npage, min_nrate))
    df_all = pd.concat([df_all, df], axis=0)
    npage += 1
    sleep(2) # Keep the BGG server happy.

Page 1 scraped, minimum number of ratings was 21869
Page 2 scraped, minimum number of ratings was 14115
Page 3 scraped, minimum number of ratings was 10474
Page 4 scraped, minimum number of ratings was 7914
Page 5 scraped, minimum number of ratings was 6720
Page 6 scraped, minimum number of ratings was 5523
Page 7 scraped, minimum number of ratings was 4758
Page 8 scraped, minimum number of ratings was 4175
Page 9 scraped, minimum number of ratings was 3680
Page 10 scraped, minimum number of ratings was 3293
Page 11 scraped, minimum number of ratings was 3000
Page 12 scraped, minimum number of ratings was 2744
Page 13 scraped, minimum number of ratings was 2524
Page 14 scraped, minimum number of ratings was 2356
Page 15 scraped, minimum number of ratings was 2164
Page 16 scraped, minimum number of ratings was 2007
Page 17 scraped, minimum number of ratings was 1863
Page 18 scraped, minimum number of ratings was 1769
Page 19 scraped, minimum number of ratings was 1660
Page 20 scraped, minimum number of ratings was 1577
Page 21 scraped, minimum number of ratings was 1494
Page 22 scraped, minimum number of ratings was 1418
Page 23 scraped, minimum number of ratings was 1357
Page 24 scraped, minimum number of ratings was 1281
Page 25 scraped, minimum number of ratings was 1218
Page 26 scraped, minimum number of ratings was 1153
Page 27 scraped, minimum number of ratings was 1103
Page 28 scraped, minimum number of ratings was 1057
Page 29 scraped, minimum number of ratings was 1012
Page 30 scraped, minimum number of ratings was 976

In [3]:
df = pd.read_csv("games_list.csv") # had to restart the kernel

In [5]:
df = df_all.copy()
# Reset the index
df.reset_index(inplace=True, drop=True)
# Write the DF to .csv for future use
df.to_csv("games_list.csv", index=False, encoding="utf-8")
df.head()

,id,name,nrate,pic_url
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...

In [4]:
print("Number of games with > 1000 ratings is approximately %i" % (len(df),))
print("Total number of ratings from all these games is %i" % (df["nrate"].sum(),))

Number of games with > 1000 ratings is approximately 3000
Total number of ratings from all these games is 14006192

In [5]:
min(df["nrate"])

976

In [6]:
len(df)

3000

In [7]:
df.iloc[2999, : ]

id                                                    156089
name                         Arcadia Quest: Beyond the Grave
nrate                                                    976
pic_url    https://cf.geekdo-images.com/micro/img/t-bgPBl...
Name: 2999, dtype: object

In [21]:
df_small_test = df.iloc[2995: , : ].copy()
df_small_test

,id,name,nrate,pic_url
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...

In [22]:
df_small_test["nfull_pages"] = (df_small_test["nrate"]-50).apply(round, ndigits=-2)/100
df_small_test

,id,name,nrate,pic_url,nfull_pages
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...,9.0
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...,9.0
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...,9.0
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...,9.0
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [12]:
# testing the API pull
df_ratings_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(100))


r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=156089&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
comments = soup("comment")
l1 = [0]*100
l2 = [0]*100
l3 = [0]*100
j = 0
for comm in comments:
    l1[j] = comm["username"]
    l2[j] = float(comm["rating"])
    l3[j] = str(comm["value"])
    j += 1
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("username")] = l1
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("rating")] = l2
df_ratings_test.iloc[0:100, df_ratings_test.columns.get_loc("value")] = l3

In [13]:
df_ratings_test

,gameid,username,rating,value
0,NaN,kryzen13,10,"As a huge fan of the base game, this gets a 10..."
1,NaN,thonnie,10,kickstarter
2,NaN,Dj Silent Bob,10,
3,NaN,SirCptnAwesome,10,
4,NaN,Boltana,10,
...,...,...,...,...
95,NaN,pipkorng,10,
96,NaN,jarchibald,10,
97,NaN,Snivek,10,
98,NaN,yaguiu,10,
99,NaN,SmoovySmoov,10,

In [23]:
df_ratings_test.iloc[0, 3]

NameError: name 'df_ratings_test' is not defined

In [24]:
df_single_game = df.iloc[2999: , :].copy()
df_single_game

,id,name,nrate,pic_url
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...

In [25]:
df_single_game["nfullpage"] = (df_single_game["nrate"]-50).apply(round, ndigits=-2)/100
df_single_game

,id,name,nrate,pic_url,nfullpage
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [17]:
df_ratings_single_game = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(1000))

dfidx_start = 0
dfidx = 0

pagenum = 1
fullpages = 9
while fullpages > 0:
    dfidx_end = dfidx_start+100
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("gameid")] = [156089]*100
    sleep(2)
    r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=156089&ratingcomments=1&page=%i" % (pagenum))
    soup = BeautifulSoup(r.text, "xml")
    comments = soup("comment")
    l1 = [0]*100
    l2 = [0]*100
    l3 = [0]*100
    j = 0
    for comm in comments:
        l1[j] = comm["username"]
        l2[j] = float(comm["rating"])
        l3[j] = str(comm["value"])
        j += 1
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("username")] = l1
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("rating")] = l2
    df_ratings_single_game.iloc[dfidx_start:dfidx_end, df_ratings_single_game.columns.get_loc("value")] = l3
    fullpages -= 1
    dfidx_start = dfidx_end     
    pagenum += 1  
    print("pagenum updated to %i" %(pagenum,))
    
df_ratings_single_game = df_ratings_single_game.dropna(how="all")

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10

In [18]:
df_ratings_single_game

,gameid,username,rating,value
0,156089,kryzen13,10,"As a huge fan of the base game, this gets a 10..."
1,156089,thonnie,10,kickstarter
2,156089,Dj Silent Bob,10,
3,156089,SirCptnAwesome,10,
4,156089,Boltana,10,
...,...,...,...,...
895,156089,DDAPROD,7,
896,156089,stanyer,7,
897,156089,hervalix1,7,
898,156089,Keitaro87,7,
899,156089,tanosungae,7,

In [9]:
import MySQLdb
from pandas.io import sql
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqldb://root:LolaHippo74@127.0.0.1:3306/single_test?charset=utf8mb4')
# have to create a connection in MySQL Workbench
# create a database to connect to

In [33]:
df_ratings_single_game.to_sql(name="single_test", con=engine, if_exists="append", index=False)

In [39]:
df_st_group_test = df_small_test.groupby(np.arange(len(df_small_test))//3)

In [40]:
list(df_st_group_test)

[(0,
            id                                               name nrate  \
  2995  241533  Mansions of Madness: Second Edition – Sanctum ...   978
  2996   37235                                    Agricola Z-Deck   977
  2997    8552                                              I Go!   976

                                                  pic_url  nfull_pages
  2995  https://cf.geekdo-images.com/micro/img/C4_W4C-...          9.0
  2996  https://cf.geekdo-images.com/micro/img/yrYSRQN...          9.0
  2997  https://cf.geekdo-images.com/micro/img/08Sp6on...          9.0  ),
 (1,
            id                                   name nrate  \
  2998   20542  Advanced Squad Leader: Starter Kit #3   976
  2999  156089        Arcadia Quest: Beyond the Grave   976

                                                  pic_url  nfull_pages
  2998  https://cf.geekdo-images.com/micro/img/1Z7Phwo...          9.0
  2999  https://cf.geekdo-images.com/micro/img/t-bgPBl...          9.0  )]

In [45]:
for nm, grp in df_small_test.groupby(np.arange(len(df_small_test))//3):
    # Initialize a DF to hold all the responses for this chunk of games
    df_ratings_larger_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(grp["nrate"].sum()+100000))

    # Initialize indices for writing to the ratings dataframe
    dfidx_start = 0
    dfidx = 0
    
    # For this group of games, make calls until all FULL pages of every game have been pulled
    pagenum = 1
    while len(grp[grp["nfull_pages"] > 0]) > 0: 
        # Get a restricted DF with only still-active games (have ratings pages left)
        active_games = grp[grp["nfull_pages"] > 0]

        # Set the next chunk of the DF "gameid" column using the list of game IDs
        id_list = []
        for game in active_games["id"]:
            id_list += [game]*100
        dfidx_end = dfidx_start + len(active_games)*100
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("gameid")] = id_list

        # Make the request with the list of all game IDs that have ratings left
        id_strs = [str(gid) for gid in active_games["id"]]
        gameids = ",".join(id_strs)
        sleep(1.5)  # Keep the server happy
        r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))
#         while r.status_code != 200:
#             sleep(2)  # Keep the server happy
#             print("Server Error! Response Code %i. Retrying..." % (r.status_code))
#             r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))        
        soup = BeautifulSoup(r.text, "xml")
        comments = soup("comment")
#         print("Response status was %i - number of ratings retrieved was %i" % (r.status_code, len(comments)))

        # Parse the response and assign it into the dataframe
        l1 = [0]*len(active_games)*100
        l2 = [0]*len(active_games)*100
        l3 = [0]*len(active_games)*100
        j = 0
        for comm in comments:
            l1[j] = comm["username"]
            l2[j] = float(comm["rating"])
            l3[j] = str(comm["value"])
            j += 1
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("username")] = l1
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("rating")] = l2
        df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("value")] = l3

        
        grp["nfull_pages"] -= 1  # Decrement the number of FULL pages of each game id
        dfidx_start = dfidx_end     
        pagenum += 1  
        print("pagenum updated to %i" %(pagenum,))
    
    # Strip off the empty rows
    df_ratings_larger_test = df_ratings_larger_test.dropna(how="all")
    # Write this batch of all FULL pages of ratings for this chunk of games to the DB
    df_ratings_larger_test.to_sql(name="larger_test", con=engine, if_exists="append", index=False)    
    print("Processed ratings for batch #%i of games." % (nm))

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
Processed ratings for batch #0 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
Processed ratings for batch #1 of games.

In [48]:
# Restore the correct number of FULL pages
df_small_test["nfull_pages"] = (df_small_test["nrate"]-50).apply(round, ndigits=-2)/100  # Round DOWN to nearest 100, then divide by 100

# Initialize a DF to hold all the responses over all the chunks of games
df_ratings_larger_test = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(len(df_small_test)*100))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    pagenum = row["nfull_pages"] + 1
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    comments = soup("comment")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(comments)
    dfidx_end = dfidx_start + len(comments)
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("gameid")] = id_list

    # Parse the response and assign it into the dataframe
    l1 = [0]*len(comments)
    l2 = [0]*len(comments)
    l3 = [0]*len(comments)
    j = 0
    for comm in comments:
        l1[j] = comm["username"]
        l2[j] = float(comm["rating"])
        l3[j] = str(comm["value"])
        j += 1
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("username")] = l1
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("rating")] = l2
    df_ratings_larger_test.iloc[dfidx_start:dfidx_end, df_ratings_larger_test.columns.get_loc("value")] = l3

    dfidx_start = dfidx_end   # Increment the starting index for next round        

    if idx%100 == 0:
        print("Finished with a chunk of 3 games.")
        
# Strip off the empty rows
df_ratings_larger_test = df_ratings_larger_test.dropna(how="all")

# Write this final batch of all partial pages of ratings for this chunk of games to the DB
df_ratings_larger_test.to_sql(name="larger_test", con=engine, if_exists="append", index=False)

In [126]:
engine2 = create_engine('mysql+mysqldb://root:LolaHippo74@127.0.0.1:3306/board_games?charset=utf8mb4')

In [32]:
df_games = df.copy()

In [12]:
df_games.head()

,id,name,nrate,pic_url
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...

In [52]:
df_games.to_sql(name="games", con=engine2, if_exists="append", index=False)

In [33]:
df_games["nfullpages"] = (df_games["nrate"]-50).apply(round, ndigits=-2)/100

In [34]:
df_games.head()

,id,name,nrate,pic_url,nfullpages
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...,962.0
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...,962.0
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...,962.0
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...,799.0
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...,749.0

In [19]:
df_games_subset = df_games.iloc[150:].copy() # subsetting because I had to restart the kernel but the 1st chunk was successful

In [20]:
df_games_subset.head()

,id,name,nrate,pic_url,nfullpages
150,244521,The Quacks of Quedlinburg,16868,https://cf.geekdo-images.com/micro/img/G8on9OS...,168.0
151,1294,Clue,16737,https://cf.geekdo-images.com/micro/img/b-zD_YJ...,167.0
152,37904,Formula D,16569,https://cf.geekdo-images.com/micro/img/x0hoXoI...,165.0
153,926,Catan: Cities & Knights,16511,https://cf.geekdo-images.com/micro/img/2CmbUX4...,165.0
154,244992,The Mind,16365,https://cf.geekdo-images.com/micro/img/n92xmiP...,163.0

In [21]:
for nm, grp in df_games_subset.groupby(np.arange(len(df_games_subset))//150):
    # Initialize a DF to hold all the responses for this chunk of games
    df_ratings = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(grp["nrate"].sum()+100000))

    # Initialize indices for writing to the ratings dataframe
    dfidx_start = 0
    dfidx = 0
    
    # For this group of games, make calls until all FULL pages of every game have been pulled
    pagenum = 1
    while len(grp[grp["nfullpages"] > 0]) > 0: 
        # Get a restricted DF with only still-active games (have ratings pages left)
        active_games = grp[grp["nfullpages"] > 0]

        # Set the next chunk of the DF "gameid" column using the list of game IDs
        id_list = []
        for game in active_games["id"]:
            id_list += [game]*100
        dfidx_end = dfidx_start + len(active_games)*100
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("gameid")] = id_list

        # Make the request with the list of all game IDs that have ratings left
        id_strs = [str(gid) for gid in active_games["id"]]
        gameids = ",".join(id_strs)
        sleep(2)  # Keep the server happy
        r = request("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))
#         while r.status_code != 200:
#             sleep(2)  # Keep the server happy
#             print("Server Error! Response Code %i. Retrying..." % (r.status_code))
#             r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%s&ratingcomments=1&page=%i" % (gameids, pagenum))        
        soup = BeautifulSoup(r.text, "xml")
        comments = soup("comment")
#         print("Response status was %i - number of ratings retrieved was %i" % (r.status_code, len(comments)))

        # Parse the response and assign it into the dataframe
        l1 = [0]*len(active_games)*100
        l2 = [0]*len(active_games)*100
        l3 = [0]*len(active_games)*100
        j = 0
        for comm in comments:
            l1[j] = comm["username"]
            l2[j] = float(comm["rating"])
            l3[j] = str(comm["value"])
            j += 1
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("username")] = l1
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("rating")] = l2
        df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("value")] = l3

        
        grp["nfullpages"] -= 1  # Decrement the number of FULL pages of each game id
        dfidx_start = dfidx_end     
        pagenum += 1  
        print("pagenum updated to %i" %(pagenum,))
    
    # Strip off the empty rows
    df_ratings = df_ratings.dropna(how="all")
    # Write this batch of all FULL pages of ratings for this chunk of games to the DB
    df_ratings.to_sql(name="ratings", con=engine2, if_exists="append", index=False)    
    print("Processed ratings for batch #%i of games." % (nm))

C:\Users\timco\anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
An exception has occurred, probably a momentory loss of connection. Waiting one seconds...
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
pagenum updated to 46
pagenum updated to 47
pagenum updated to 48
pagenum updated to 49
pagenum updated to 50
pagenum updated to 51
pagenum updated to 52
pagenum updated to 53
pagenum updated to 54
An exception has occurred, probably a momentory loss of connection. Waiting one seconds...
pagenum updated to 55
pagenum updated to 56
pagenum updated to 57
pagenum updated to 58
pagenum updated to 59
pagenum updated to 60
pagenum updated to 61
pagenum updated to 62
pagenum updated to 63
pagenum updated to 64
pagenum updated to 65
pagenum updated to 66
pagenum updated to 67
pagenum updated to 68
pagenum updated to 69
pagenum updated to 70
pagenum updated to 71
pagenum updated to 72
pagenum updated to 73
pagenum updated to 74
pagenum updated to 75
pagenum updated to 76
pagenum updated to 77
pagenum updated to 78
pagenum updated to 79
pagenum updated to 80
pagenum updated to 81
pagenum updated to 82
pagenum updated to 83
pagenum updated to 84
pagenum updated to 85
pagenum updated to 86
pagenum updated to 87
pagenum updated to 88
pagenum updated to 89
pagenum updated to 90
pagenum updated to 91
pagenum updated to 92
pagenum updated to 93
pagenum updated to 94
pagenum updated to 95
pagenum updated to 96
pagenum updated to 97
pagenum updated to 98
pagenum updated to 99
pagenum updated to 100
pagenum updated to 101
pagenum updated to 102
pagenum updated to 103
pagenum updated to 104
pagenum updated to 105
pagenum updated to 106
pagenum updated to 107
pagenum updated to 108
pagenum updated to 109
pagenum updated to 110
pagenum updated to 111
pagenum updated to 112
pagenum updated to 113
pagenum updated to 114
pagenum updated to 115
pagenum updated to 116
pagenum updated to 117
pagenum updated to 118
pagenum updated to 119
pagenum updated to 120
pagenum updated to 121
pagenum updated to 122
pagenum updated to 123
pagenum updated to 124
pagenum updated to 125
pagenum updated to 126
pagenum updated to 127
pagenum updated to 128
pagenum updated to 129
pagenum updated to 130
pagenum updated to 131
pagenum updated to 132
pagenum updated to 133
pagenum updated to 134
pagenum updated to 135
pagenum updated to 136
pagenum updated to 137
pagenum updated to 138
pagenum updated to 139
pagenum updated to 140
pagenum updated to 141
pagenum updated to 142
pagenum updated to 143
pagenum updated to 144
pagenum updated to 145
pagenum updated to 146
pagenum updated to 147
pagenum updated to 148
pagenum updated to 149
pagenum updated to 150
pagenum updated to 151
pagenum updated to 152
pagenum updated to 153
pagenum updated to 154
pagenum updated to 155
pagenum updated to 156
pagenum updated to 157
pagenum updated to 158
pagenum updated to 159
pagenum updated to 160
pagenum updated to 161
pagenum updated to 162
pagenum updated to 163
pagenum updated to 164
pagenum updated to 165
pagenum updated to 166
pagenum updated to 167
pagenum updated to 168
pagenum updated to 169
Processed ratings for batch #0 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
pagenum updated to 46
pagenum updated to 47
pagenum updated to 48
pagenum updated to 49
pagenum updated to 50
pagenum updated to 51
pagenum updated to 52
pagenum updated to 53
pagenum updated to 54
pagenum updated to 55
pagenum updated to 56
pagenum updated to 57
pagenum updated to 58
pagenum updated to 59
pagenum updated to 60
pagenum updated to 61
pagenum updated to 62
pagenum updated to 63
pagenum updated to 64
pagenum updated to 65
pagenum updated to 66
pagenum updated to 67
pagenum updated to 68
pagenum updated to 69
pagenum updated to 70
pagenum updated to 71
pagenum updated to 72
pagenum updated to 73
pagenum updated to 74
pagenum updated to 75
pagenum updated to 76
pagenum updated to 77
pagenum updated to 78
pagenum updated to 79
pagenum updated to 80
pagenum updated to 81
pagenum updated to 82
pagenum updated to 83
pagenum updated to 84
pagenum updated to 85
pagenum updated to 86
pagenum updated to 87
pagenum updated to 88
pagenum updated to 89
pagenum updated to 90
pagenum updated to 91
pagenum updated to 92
pagenum updated to 93
pagenum updated to 94
pagenum updated to 95
pagenum updated to 96
pagenum updated to 97
pagenum updated to 98
pagenum updated to 99
pagenum updated to 100
pagenum updated to 101
pagenum updated to 102
pagenum updated to 103
pagenum updated to 104
pagenum updated to 105
Processed ratings for batch #1 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
pagenum updated to 46
pagenum updated to 47
pagenum updated to 48
pagenum updated to 49
pagenum updated to 50
pagenum updated to 51
pagenum updated to 52
pagenum updated to 53
pagenum updated to 54
pagenum updated to 55
pagenum updated to 56
pagenum updated to 57
pagenum updated to 58
pagenum updated to 59
pagenum updated to 60
pagenum updated to 61
pagenum updated to 62
pagenum updated to 63
pagenum updated to 64
pagenum updated to 65
pagenum updated to 66
pagenum updated to 67
pagenum updated to 68
pagenum updated to 69
pagenum updated to 70
pagenum updated to 71
pagenum updated to 72
pagenum updated to 73
pagenum updated to 74
Processed ratings for batch #2 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13

pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
pagenum updated to 46
pagenum updated to 47
pagenum updated to 48
pagenum updated to 49
pagenum updated to 50
pagenum updated to 51
pagenum updated to 52
pagenum updated to 53
pagenum updated to 54
pagenum updated to 55
pagenum updated to 56
Processed ratings for batch #3 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
pagenum updated to 38
pagenum updated to 39
pagenum updated to 40
pagenum updated to 41
pagenum updated to 42
pagenum updated to 43
pagenum updated to 44
pagenum updated to 45
Processed ratings for batch #4 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
pagenum updated to 33
pagenum updated to 34
pagenum updated to 35
pagenum updated to 36
pagenum updated to 37
Processed ratings for batch #5 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
An exception has occurred, probably a momentory loss of connection. Waiting one seconds...
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
pagenum updated to 29
pagenum updated to 30
pagenum updated to 31
pagenum updated to 32
Processed ratings for batch #6 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
pagenum updated to 26
pagenum updated to 27
pagenum updated to 28
Processed ratings for batch #7 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
pagenum updated to 23
pagenum updated to 24
pagenum updated to 25
Processed ratings for batch #8 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
pagenum updated to 21
pagenum updated to 22
Processed ratings for batch #9 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
pagenum updated to 19
pagenum updated to 20
Processed ratings for batch #10 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
pagenum updated to 18
Processed ratings for batch #11 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
pagenum updated to 16
pagenum updated to 17
Processed ratings for batch #12 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
pagenum updated to 15
Processed ratings for batch #13 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
pagenum updated to 14
Processed ratings for batch #14 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
pagenum updated to 13
Processed ratings for batch #15 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
Processed ratings for batch #16 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8
pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
pagenum updated to 12
Processed ratings for batch #17 of games.
pagenum updated to 2
pagenum updated to 3
pagenum updated to 4
pagenum updated to 5
pagenum updated to 6
pagenum updated to 7
pagenum updated to 8

pagenum updated to 9
pagenum updated to 10
pagenum updated to 11
Processed ratings for batch #18 of games.

In [20]:
# Restore the correct number of FULL pages
df_games["nfullpages"] = (df_games["nrate"]-50).apply(round, ndigits=-2)/100  # Round DOWN to nearest 100, then divide by 100

# Initialize a DF to hold all the responses over all the chunks of games
df_ratings = pd.DataFrame(columns=["gameid", "username", "rating", "value"], index=range(len(df_games)*100))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_games.iterrows():
    # Get the game ID and the last page number to request
    pagenum = row["nfullpages"] + 1
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    comments = soup("comment")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(comments)
    dfidx_end = dfidx_start + len(comments)
    df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("gameid")] = id_list
    
    # Parse the response and assign it into the dataframe
    l1 = [0]*len(comments)
    l2 = [0]*len(comments)
    l3 = [0]*len(comments)
    j = 0
    for comm in comments:
        l1[j] = comm["username"]
        l2[j] = float(comm["rating"])
        l3[j] = str(comm["value"])
        j += 1
    df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("username")] = l1
    df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("rating")] = l2
    df_ratings.iloc[dfidx_start:dfidx_end, df_ratings.columns.get_loc("value")] = l3

    dfidx_start = dfidx_end   # Increment the starting index for next round 
    
    iterations = 1
    if idx%100 == 0:
        print("Finished with chunk #%i of 100 games." % (iterations))
        iterations += 1
        
# Strip off the empty rows
df_ratings = df_ratings.dropna(how="all")

# Write this final batch of all partial pages of ratings for this chunk of games to the DB
df_ratings.to_sql(name="ratings", con=engine2, if_exists="append", index=False)

Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.
Finished with chunk #1 of 100 games.

In [26]:
df_single_game

,id,name,nrate,pic_url,nfullpage
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [35]:
df_games

,id,name,nrate,pic_url,nfullpages
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...,962.0
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...,962.0
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...,962.0
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...,799.0
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...,749.0
...,...,...,...,...,...
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...,9.0
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...,9.0
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...,9.0
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...,9.0
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [79]:
catan = df_games.loc[df_games['id'] == 13].copy()

In [80]:
catan

,id,name,nrate,pic_url,nfullpages
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...,962.0

In [122]:
r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=13&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
desc = soup("description")
desc

[<description>In Catan (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resources the island produces. Players collect these resources (cards)&amp;mdash;wood, grain, brick, sheep, or stone&amp;mdash;to build up their civilizations to get to 10 victory points and win the game.&amp;#10;&amp;#10;Setup includes randomly placing large hexagonal tiles (each showing a resource or the desert) in a honeycomb shape and surrounding them with water tiles, some of which contain ports of exchange. Number disks, which will correspond to die rolls (two 6-sided dice are used), are placed on each resource tile. Each player is given two settlements (think: houses) and roads (sticks) which are, in turn, placed on intersections and borders of the resource tiles. Players collect a hand of resource cards based on which hex tiles their last-placed house is adjacent to. A robber pawn is placed on the desert tile.&amp;#10;&amp;#10;A turn consists of possibly playing a development card, rolling the dice, everyone (perhaps) collecting resource cards based on the roll and position of houses (or upgraded cities&amp;mdash;think: hotels) unless a 7 is rolled, turning in resource cards (if possible and desired) for improvements, trading cards at a port, and trading resource cards with other players. If a 7 is rolled, the active player moves the robber to a new hex tile and steals resource cards from other players who have built structures adjacent to that tile.&amp;#10;&amp;#10;Points are accumulated by building settlements and cities, having the longest road and the largest army (from some of the development cards), and gathering certain development cards that simply award victory points. When a player has gathered 10 points (some of which may be held in secret), he announces his total and claims the win.&amp;#10;&amp;#10;Catan has won multiple awards and is one of the most popular games in recent history due to its amazing ability to appeal to experienced gamers as well as those new to the hobby.&amp;#10;&amp;#10;Die Siedler von Catan was originally published by KOSMOS and has gone through multiple editions. It was licensed by Mayfair and has undergone four editions as The Settlers of Catan. In 2015, it was formally renamed Catan to better represent itself as the core and base game of the Catan series. It has been re-published in two travel editions, portable edition and compact edition, as a special gallery edition (replaced in 2009 with a family edition), as an anniversary wooden edition, as a deluxe 3D collector's edition, in the basic Simply Catan, as a beginner version, and with an entirely new theme in Japan and Asia as Settlers of Catan: Rockman Edition. Numerous spin-offs and expansions have also been made for the game.&amp;#10;&amp;#10;</description>]

In [123]:
type(desc)

bs4.element.ResultSet

In [53]:
soup_links = soup.find_all("link")
soup_links

[<link id="1021" type="boardgamecategory" value="Economic"/>,
 <link id="1026" type="boardgamecategory" value="Negotiation"/>,
 <link id="2072" type="boardgamemechanic" value="Dice Rolling"/>,
 <link id="2026" type="boardgamemechanic" value="Hexagon Grid"/>,
 <link id="2902" type="boardgamemechanic" value="Income"/>,
 <link id="2011" type="boardgamemechanic" value="Modular Board"/>,
 <link id="2081" type="boardgamemechanic" value="Network and Route Building"/>,
 <link id="2876" type="boardgamemechanic" value="Race"/>,
 <link id="2909" type="boardgamemechanic" value="Random Production"/>,
 <link id="2008" type="boardgamemechanic" value="Trading"/>,
 <link id="2897" type="boardgamemechanic" value="Variable Setup"/>,
 <link id="3" type="boardgamefamily" value="Game: Catan"/>,
 <link id="11505" type="boardgamefamily" value="Promotional: Promo Board Games"/>,
 <link id="167903" type="boardgameexpansion" value="20 Jahre Darmstadt Spielt"/>,
 <link id="178656" type="boardgameexpansion" value="Brettspiel Adventskalender 2015"/>,
 <link id="26352" type="boardgameexpansion" value="Catan Austria / Wien meets Catan"/>,
 <link id="86008" type="boardgameexpansion" value="Catan Geographies: Austria"/>,
 <link id="60134" type="boardgameexpansion" value="Catan Geographies: Bayern Edition"/>,
 <link id="149857" type="boardgameexpansion" value="Catan Geographies: Corsica"/>,
 <link id="173651" type="boardgameexpansion" value="Catan Geographies: Georgia"/>,
 <link id="202788" type="boardgameexpansion" value="Catan Geographies: Kennessee"/>,
 <link id="131362" type="boardgameexpansion" value="Catan Geographies: Mallorca"/>,
 <link id="39093" type="boardgameexpansion" value="Catan Geographies: North Rhine – Westphalia"/>,
 <link id="187366" type="boardgameexpansion" value="Catan Geographies: Rickshaw Run"/>,
 <link id="32270" type="boardgameexpansion" value="Catan Geographies: Settlers of Hesse"/>,
 <link id="169486" type="boardgameexpansion" value="Catan Geographies: The Carolinas"/>,
 <link id="211081" type="boardgameexpansion" value="Catan Länderszenarien: Polen"/>,
 <link id="292851" type="boardgameexpansion" value="Catan Rhein-Main-Neckar"/>,
 <link id="259397" type="boardgameexpansion" value="Catan Scenario: Crop Trust"/>,
 <link id="222582" type="boardgameexpansion" value="Catan Scenario: Durango"/>,
 <link id="307518" type="boardgameexpansion" value="Catan Scenarios: #WeStayHome"/>,
 <link id="186395" type="boardgameexpansion" value="Catan Scenarios: Big Game Big Honor"/>,
 <link id="196928" type="boardgameexpansion" value="Catan Scenarios: Catanimals"/>,
 <link id="307517" type="boardgameexpansion" value="Catan Scenarios: Easter Bunny"/>,
 <link id="131958" type="boardgameexpansion" value="Catan Scenarios: Frenemies"/>,
 <link id="305516" type="boardgameexpansion" value="Catan Scenarios: Global Warming"/>,
 <link id="86669" type="boardgameexpansion" value="Catan Scenarios: Helpers of Catan"/>,
 <link id="110794" type="boardgameexpansion" value="Catan Scenarios: Oil Springs"/>,
 <link id="189097" type="boardgameexpansion" value="Catan Scenarios: Santa Claus"/>,
 <link id="167573" type="boardgameexpansion" value="Catan World Championship Berlin 2014 Special"/>,
 <link id="2807" type="boardgameexpansion" value="Catan: 5-6 Player Extension"/>,
 <link id="183139" type="boardgameexpansion" value="Catan: 999 Games 25 jaar Expansion"/>,
 <link id="104774" type="boardgameexpansion" value="Catan: Catakatoa"/>,
 <link id="176966" type="boardgameexpansion" value="Catan: Catan Day 2015 Exclusive Expansion"/>,
 <link id="926" type="boardgameexpansion" value="Catan: Cities &amp; Knights"/>,
 <link id="4101" type="boardgameexpansion" value="Catan: Cities &amp; Knights – 5-6 Player Extension"/>,
 <link id="265141" type="boardgameexpansion" value="Catan: Cities &amp; Knights – Legend of the Conquerors"/>,
 <link id="73809" type="boardgameexpansion" value="Catan: Delmarva"/>,
 <link id="20038" type="boardgameexpansion" value="Catan: Event Cards"/>,
 <link id="135378" type="boardgameexpansion" value="Catan: Explorers &amp; Pirates"/>,
 <link id="144419" type="boardgameexpansion" value="Catan: Explorers &amp; Pirates – 5-6 Player Extension"/>,
 <link id="238135" type="boardgameexpansion" value="Catan: Hawaii (Szenario für Seefahrer)"/>,
 <link id="263939" type="boardgameexpansion" value="Catan: High Priests of the Inkas"/>,
 <link id="54528" type="boardgameexpansion" value="Catan: Indiana &amp; Ohio"/>,
 <link id="143249" type="boardgameexpansion" value="Catan: New England"/>,
 <link id="132481" type="boardgameexpansion" value="Catan: New York"/>,
 <link id="101942" type="boardgameexpansion" value="Catan: Penn-Jersey"/>,
 <link id="222394" type="boardgameexpansion" value="Catan: Playmat Desert"/>,
 <link id="222393" type="boardgameexpansion" value="Catan: Playmat Gold"/>,
 <link id="325" type="boardgameexpansion" value="Catan: Seafarers"/>,
 <link id="223171" type="boardgameexpansion" value="Catan: Seafarers Scenario – Legend of the Sea Robbers"/>,
 <link id="4103" type="boardgameexpansion" value="Catan: Seafarers – 5-6 Player Extension"/>,
 <link id="217947" type="boardgameexpansion" value="Catan: Seefahrer – 20 Jahre Jubiläums-Edition"/>,
 <link id="271159" type="boardgameexpansion" value="Catan: Szenario Der Kölner Dom"/>,
 <link id="27760" type="boardgameexpansion" value="Catan: Traders &amp; Barbarians"/>,
 <link id="34691" type="boardgameexpansion" value="Catan: Traders &amp; Barbarians – 5-6 Player Extension"/>,
 <link id="42147" type="boardgameexpansion" value="Der Hafenmeister"/>,
 <link id="128751" type="boardgameexpansion" value="Heroes &amp; Capitols (fan expansion for Settlers of Catan)"/>,
 <link id="91061" type="boardgameexpansion" value="Hexen, Zauberer &amp; Drachen (Fan expansion to Catan: Cities and Knights)"/>,
 <link id="95940" type="boardgameexpansion" value="Katani  pankur"/>,
 <link id="89606" type="boardgameexpansion" value="Kirche, Glaube &amp; Reformation (Fan expansion to Catan: Cities and Knights)"/>,
 <link id="21101" type="boardgameexpansion" value="De Kolonisten van Catan: De Diamanten"/>,
 <link id="41161" type="boardgameexpansion" value="De Kolonisten van Catan: De drie Handelsteden van Noord-Nederland"/>,
 <link id="21097" type="boardgameexpansion" value="De Kolonisten van Catan: De Koloniën"/>,
 <link id="21443" type="boardgameexpansion" value="De Kolonisten van Catan: De Specialisten"/>,
 <link id="21100" type="boardgameexpansion" value="De Kolonisten van Catan: De Wereldwonderen"/>,
 <link id="21098" type="boardgameexpansion" value="De Kolonisten van Catan: De Woestijnruiters"/>,
 <link id="21099" type="boardgameexpansion" value="De Kolonisten van Catan: Het Grote Kanaal"/>,
 <link id="144851" type="boardgameexpansion" value="Mayfair Game Variants &amp; Mini-Expansions Set #1"/>,
 <link id="90100" type="boardgameexpansion" value="Die Pioniere (fan expansion for The Settlers of Catan)"/>,
 <link id="22598" type="boardgameexpansion" value="Saggsen-Gadan: De säggs'schn Siedler / Catan-OFFENSIVE in Chemnitz"/>,
 <link id="293222" type="boardgameexpansion" value="Settlers of Catan Scenario: The Jungle"/>,
 <link id="293224" type="boardgameexpansion" value="Settlers of Catan Scenario: The Volcano"/>,
 <link id="19343" type="boardgameexpansion" value="The Settlers of Catan: The Fishermen of Catan"/>,
 <link id="20247" type="boardgameexpansion" value="The Settlers of Catan: The Great River"/>,
 <link id="10817" type="boardgameexpansion" value="Settlers of New Catan (and extra modules)"/>,
 <link id="21046" type="boardgameexpansion" value="Die Siedler von Catan: Atlantis – Szenarien &amp; Varianten"/>,
 <link id="1137" type="boardgameexpansion" value="Die Siedler von Catan: Das Buch zum Spielen"/>,
 <link id="84977" type="boardgameexpansion" value="Die Siedler von Catan: Der Schokoladenmarkt"/>,
 <link id="26079" type="boardgameexpansion" value="Die Siedler von Catan: Die große Karawane"/>,
 <link id="167836" type="boardgameexpansion" value="Die Siedler von Catan: Hispania Edition"/>,
 <link id="306" type="boardgameexpansion" value="Die Siedler von Catan: Historische Szenarien"/>,
 <link id="1361" type="boardgameexpansion" value="Die Siedler von Catan: Historische Szenarien II"/>,
 <link id="167841" type="boardgameexpansion" value="Die Siedler von Catan: Hochzeitsturm"/>,
 <link id="31933" type="boardgameexpansion" value="Die Siedler von Catan: Renaissance in der Steiermark &amp; Burgbau auf Chaffenberch"/>,
 <link id="37690" type="boardgameexpansion" value="Die Siedler von Catan: Rincewind und der Tourist  /  Die Gilden von Ankh-Morpork"/>,
 <link id="56157" type="boardgameexpansion" value="Die Siedler von Catan: Schätze, Drachen &amp; Entdecker"/>,
 <link id="111377" type="boardgameexpansion" value="Die Siedler von Catan: Thüringen Edition"/>,
 <link id="37969" type="boardgameexpansion" value="Die Siedler von Luxemburg"/>,
 <link id="134277" type="boardgameexpansion" value="World Wonders (fan expansion to Catan)"/>,
 <link id="17419" type="boardgamecompilation" value="CATAN 3D Collector's Edition"/>,
 <link id="298278" type="boardgamecompilation" value="Catan: 25 Jahre Jubiläums-Edition"/>,
 <link id="305668" type="boardgamecompilation" value="Catan: 25th Anniversary Edition"/>,
 <link id="182880" type="boardgamecompilation" value="Catan: Big Box"/>,
 <link id="191710" type="boardgamecompilation" value="Catan: Big Box"/>,
 <link id="269980" type="boardgamecompilation" value="Catan: Big Box"/>,
 <link id="265030" type="boardgamecompilation" value="Catan: Big Box Jubileumeditie"/>,
 <link id="152959" type="boardgamecompilation" value="The Settlers of Catan (containing 5/6 player expansion)"/>,
 <link id="123386" type="boardgameimplementation" value="Baden-Württemberg Catan"/>,
 <link id="17419" type="boardgameimplementation" value="CATAN 3D Collector's Edition"/>,
 <link id="38749" type="boardgameimplementation" value="Catan Geographies: Germany"/>,
 <link id="103091" type="boardgameimplementation" value="Catan Histories: Merchants of Europe"/>,
 <link id="244144" type="boardgameimplementation" value="Catan Histories: Rise of the Inkas"/>,
 <link id="67239" type="boardgameimplementation" value="Catan Histories: Settlers of America – Trails to Rails"/>,
 <link id="25234" type="boardgameimplementation" value="Catan Histories: Struggle for Rome"/>,
 <link id="161527" type="boardgameimplementation" value="Catan: Ancient Egypt"/>,
 <link id="182880" type="boardgameimplementation" value="Catan: Big Box"/>,
 <link id="194097" type="boardgameimplementation" value="Catan: Big Game Event Kit"/>,
 <link id="284815" type="boardgameimplementation" value="Catan: Core + China Map"/>,
 <link id="147240" type="boardgameimplementation" value="Catan: Family Edition"/>,
 <link id="3972" type="boardgameimplementation" value="Catan: Portable Edition"/>,
 <link id="282853" type="boardgameimplementation" value="Catan: Starfarers"/>,
 <link id="172994" type="boardgameimplementation" value="Catan: Traveler – Compact Edition"/>,
 <link id="13831" type="boardgameimplementation" value="The Communication in Catan"/>,
 <link id="229218" type="boardgameimplementation" value="A Game of Thrones: Catan – Brotherhood of the Watch"/>,
 <link id="5824" type="boardgameimplementation" value="The Kids of Catan"/>,
 <link id="52825" type="boardgameimplementation" value="De Kolonisten van de Lage Landen"/>,
 <link id="3655" type="boardgameimplementation" value="The Settlers of Canaan"/>,
 <link id="38821" type="boardgameimplementation" value="Settlers of Catan: Gallery Edition"/>,
 <link id="20899" type="boardgameimplementation" value="Settlers of Catan: Rockman Edition"/>,
 <link id="4394" type="boardgameimplementation" value="The Settlers of the Stone Age"/>,
 <link id="6778" type="boardgameimplementation" value="The Settlers of Zarahemla"/>,
 <link id="27766" type="boardgameimplementation" value="Die Siedler von Catan: Junior"/>,
 <link id="189" type="boardgameimplementation" value="Die Siedler von Nürnberg"/>,
 <link id="24511" type="boardgameimplementation" value="Simply Catan"/>,
 <link id="117985" type="boardgameimplementation" value="Star Trek: Catan"/>,
 <link id="1897" type="boardgameimplementation" value="The Starfarers of Catan"/>,
 <link id="5549" type="boardgameimplementation" value="Das Wasser des Lebens"/>,
 <link id="144418" type="boardgameimplementation" value="Wien Catan"/>,
 <link id="11" type="boardgamedesigner" value="Klaus Teuber"/>,
 <link id="12036" type="boardgameartist" value="Volkan Baga"/>,
 <link id="12382" type="boardgameartist" value="Tanja Donner"/>,
 <link id="13034" type="boardgameartist" value="Pete Fenlon"/>,
 <link id="5442" type="boardgameartist" value="Jason Hawkins"/>,
 <link id="26874" type="boardgameartist" value="Michaela Kienle"/>,
 <link id="4959" type="boardgameartist" value="Harald Lieske"/>,
 <link id="11825" type="boardgameartist" value="Michael Menzel"/>,
 <link id="24191" type="boardgameartist" value="Marion Pott"/>,
 <link id="25612" type="boardgameartist" value="Matt Schwabel"/>,
 <link id="11883" type="boardgameartist" value="Franz Vohwinkel"/>,
 <link id="12063" type="boardgameartist" value="Stephen Graham Walsh"/>,
 <link id="37" type="boardgamepublisher" value="KOSMOS"/>,
 <link id="267" type="boardgamepublisher" value="999 Games"/>,
 <link id="4304" type="boardgamepublisher" value="Albi"/>,
 <link id="7340" type="boardgamepublisher" value="Astrel Games"/>,
 <link id="6784" type="boardgamepublisher" value="Bergsala Enigma"/>,
 <link id="7162" type="boardgamepublisher" value="Brain Games"/>,
 <link id="4358" type="boardgamepublisher" value="Capcom Co., Ltd."/>,
 <link id="31418" type="boardgamepublisher" value="Catan Studio"/>,
 <link id="4335" type="boardgamepublisher" value="Competo / Marektoy"/>,
 <link id="496" type="boardgamepublisher" value="danspil"/>,
 <link id="41" type="boardgamepublisher" value="Descartes Editeur"/>,
 <link id="2366" type="boardgamepublisher" value="Devir"/>,
 <link id="26990" type="boardgamepublisher" value="Dexy Co"/>,
 <link id="116" type="boardgamepublisher" value="Eurogames"/>,
 <link id="5657" type="boardgamepublisher" value="Filosofia Éditions"/>,
 <link id="4617" type="boardgamepublisher" value="Galakta"/>,
 <link id="5530" type="boardgamepublisher" value="Giochi Uniti"/>,
 <link id="21640" type="boardgamepublisher" value="GP Games"/>,
 <link id="858" type="boardgamepublisher" value="Grow Jogos e Brinquedos"/>,
 <link id="23382" type="boardgamepublisher" value="HaKubia"/>,
 <link id="4417" type="boardgamepublisher" value="Hanayama"/>,
 <link id="18852" type="boardgamepublisher" value="Hobby World"/>,
 <link id="8822" type="boardgamepublisher" value="Ideal Board Games"/>,
 <link id="31372" type="boardgamepublisher" value="Igroljub"/>,
 <link id="29036" type="boardgamepublisher" value="IntelliGames.BG"/>,
 <link id="5020" type="boardgamepublisher" value="Ísöld ehf."/>,
 <link id="6214" type="boardgamepublisher" value="Kaissa Chess &amp; Games"/>,
 <link id="8291" type="boardgamepublisher" value="Korea Boardgames co., Ltd."/>,
 <link id="2654" type="boardgamepublisher" value="L&amp;M Games"/>,
 <link id="5597" type="boardgamepublisher" value="Laser plus"/>,
 <link id="3218" type="boardgamepublisher" value="Lautapelit.fi"/>,
 <link id="3533" type="boardgamepublisher" value="Logojogos"/>,
 <link id="10" type="boardgamepublisher" value="Mayfair Games"/>,
 <link id="24886" type="boardgamepublisher" value="Ninive Games"/>,
 <link id="22" type="boardgamepublisher" value="Piatnik"/>,
 <link id="8313" type="boardgamepublisher" value="Smart Ltd"/>,
 <link id="9235" type="boardgamepublisher" value="Stupor Mundi"/>,
 <link id="9234" type="boardgamepublisher" value="Swan Panasia Co., Ltd."/>,
 <link id="42" type="boardgamepublisher" value="Tilsit"/>,
 <link id="18477" type="boardgamepublisher" value="Top Toys"/>,
 <link id="13481" type="boardgamepublisher" value="TRY SOFT"/>]

In [60]:
r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=13&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
comments = soup("comment")
l1 = [0]*len(comments)
j = 0
for comm in comments:
    l1[j] = comm["username"]       
    j += 1
l1

['sidehacker',
 'Varthlokkur',
 'dougthonus',
 'cypar7',
 'ssmooth',
 'Halloran',
 'isamu',
 'hreimer',
 'ericgorr',
 'butch',
 'ksgo',
 'daredevil',
 'bigodes',
 'Elyah',
 'Krunk2k',
 'Rexyboy',
 'hurkle',
 'Thesp',
 'philfry',
 'bnpihl',
 'Zagatto',
 'turtle',
 'Paul Slavich',
 'starman',
 'marconte',
 'PatB',
 'kevhoffer',
 'davester',
 'eklaver',
 'ScottM',
 'grisenthwaite',
 'Capn_Future',
 'LordChrone',
 'ericleesmith',
 'fledermaus',
 'pbowen',
 'cfarrell',
 'khaighle',
 'bobcousy',
 'sarahluna',
 'andy hart',
 'roberto',
 'magnushoglund',
 'sheepdog',
 'Narayannis',
 'Helmut',
 'Scae',
 'nadle',
 'oobydoob',
 'DookTibs',
 'Blaster',
 'Martina',
 'jesuska',
 'earnestto',
 'Queex',
 'Tod Levi',
 'mythboy',
 'Wazoo151',
 'xzelan',
 'FezAZ',
 'hakkr',
 'pinato',
 'valthalion',
 'brazz',
 'zazenpanda',
 'Dr-WhoopAss',
 'barleyrooty',
 'Mecoides',
 'Yoder',
 'Shooter',
 'Don Quixote',
 'krystrandya',
 'JoaoPPP19',
 'Inquisitory',
 'McSorley',
 'tempus42',
 'paevett',
 'Dayv',
 'Marcus',
 'Savage',
 'Hrothgarrr',
 'jesta81',
 'kimmo',
 'no_where_dense',
 'busgat',
 'Ceara',
 'Chris_Roberts',
 'patbsucka',
 'BonnieD24',
 'dhoylman',
 'cche',
 'drakezeus',
 'Anthony',
 'ckessel',
 'wakko77',
 'jjhalko',
 'zakspeed',
 'heroquest',
 'AxeCrazy',
 'Eric Brosius']

In [113]:
bgcat_test = pd.DataFrame(columns=["gameid", "category"], index=range(1000))

r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=13&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
links = soup("link")
cat = [0]*len(links)
val = [0]*len(links)
j = 0
dfidx_start = 0
dfidx_end = dfidx_start + len(links)
#gameid = catan["id"]
id_list = [13]*len(links)
bgcat_test.iloc[dfidx_start:dfidx_end, bgcat_test.columns.get_loc("gameid")] = id_list
for link in links:
    cat[j] = link["type"] 
    if cat[j] == "boardgamecategory":
        val[j] = link["value"]
    j += 1
bgcat_test.iloc[dfidx_start:dfidx_end, bgcat_test.columns.get_loc("category")] = val
bgcat_test = bgcat_test.dropna(how="any")
bgcat_test = bgcat_test[bgcat_test.category != 0]
bgcat_test

  gameid     category
0     13     Economic
1     13  Negotiation

In [102]:
bgmech_test = pd.DataFrame(columns=["gameid", "mechanic"], index=range(1000))

r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=13&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
links = soup("link")
mech = [0]*len(links)
val2 = [0]*len(links)
j2 = 0
dfidx_start = 0
dfidx_end = dfidx_start + len(links)
#gameid = catan["id"]
id_list = [13]*len(links)
bgmech_test.iloc[dfidx_start:dfidx_end, bgmech_test.columns.get_loc("gameid")] = id_list
for link in links:
    mech[j2] = link["type"] 
    if mech[j2] == "boardgamemechanic":
        val2[j2] = link["value"]
    j2 += 1
bgmech_test.iloc[dfidx_start:dfidx_end, bgmech_test.columns.get_loc("mechanic")] = val2
bgmech_test = bgmech_test.dropna(how="all")
bgmech_test = bgmech_test[bgmech_test.mechanic != 0]
bgmech_test

   gameid                    mechanic
2      13                Dice Rolling
3      13                Hexagon Grid
4      13                      Income
5      13               Modular Board
6      13  Network and Route Building
7      13                        Race
8      13           Random Production
9      13                     Trading
10     13              Variable Setup

In [110]:
game_ids = []
for idx, row in df_games.iterrows():
    games = row["name"]
    id_list = games
id_list

'Arcadia Quest: Beyond the Grave'

In [106]:
df_games

,id,name,nrate,pic_url,nfullpages
0,30549,Pandemic,96289,https://cf.geekdo-images.com/micro/img/0m3-oqB...,962.0
1,822,Carcassonne,96272,https://cf.geekdo-images.com/micro/img/z0tTaij...,962.0
2,13,Catan,96253,https://cf.geekdo-images.com/micro/img/e0y6Bog...,962.0
3,68448,7 Wonders,79916,https://cf.geekdo-images.com/micro/img/h-Ejv31...,799.0
4,36218,Dominion,74982,https://cf.geekdo-images.com/micro/img/VYp2s2f...,749.0
...,...,...,...,...,...
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...,9.0
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...,9.0
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...,9.0
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...,9.0
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [107]:
df_small_test

,id,name,nrate,pic_url,nfull_pages
2995,241533,Mansions of Madness: Second Edition – Sanctum ...,978,https://cf.geekdo-images.com/micro/img/C4_W4C-...,9.0
2996,37235,Agricola Z-Deck,977,https://cf.geekdo-images.com/micro/img/yrYSRQN...,9.0
2997,8552,I Go!,976,https://cf.geekdo-images.com/micro/img/08Sp6on...,9.0
2998,20542,Advanced Squad Leader: Starter Kit #3,976,https://cf.geekdo-images.com/micro/img/1Z7Phwo...,9.0
2999,156089,Arcadia Quest: Beyond the Grave,976,https://cf.geekdo-images.com/micro/img/t-bgPBl...,9.0

In [115]:
bgcat_test2 = pd.DataFrame(columns=["gameid", "category"], index=range(len(df_small_test)*1000))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    links = soup("link")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(links)
    dfidx_end = dfidx_start + len(links)
    bgcat_test2.iloc[dfidx_start:dfidx_end, bgcat_test2.columns.get_loc("gameid")] = id_list
    
    # Parse the response and assign it into the dataframe
    cat = [0]*len(links)
    val = [0]*len(links)
    j = 0
    for link in links:
        cat[j] = link["type"] 
        if cat[j] == "boardgamecategory":
            val[j] = link["value"]
        j += 1
    bgcat_test2.iloc[dfidx_start:dfidx_end, bgcat_test2.columns.get_loc("category")] = val

    dfidx_start = dfidx_end   # Increment the starting index for next round 
        
# Strip off the empty rows
bgcat_test2 = bgcat_test2.dropna(how="any")
bgcat_test2 = bgcat_test2[bgcat_test2.category != 0]
bgcat_test2.reset_index(inplace=True, drop=True)
bgcat_test2

    gameid                 category
0   241533                Adventure
1   241533  Expansion for Base-game
2   241533              Exploration
3   241533                  Fantasy
4   241533                 Fighting
5   241533                   Horror
6   241533               Miniatures
7   241533           Murder/Mystery
8   241533                   Puzzle
9    37235                 Economic
10   37235  Expansion for Base-game
11   37235                  Farming
12    8552                Card Game
13    8552                 Nautical
14    8552                  Pirates
15   20542                  Wargame
16   20542             World War II
17  156089                Adventure
18  156089  Expansion for Base-game
19  156089                  Fantasy
20  156089                 Fighting
21  156089               Miniatures

In [117]:
bgmech_test2 = pd.DataFrame(columns=["gameid", "mechanic"], index=range(len(df_small_test)*1000))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    links = soup("link")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(links)
    dfidx_end = dfidx_start + len(links)
    bgmech_test2.iloc[dfidx_start:dfidx_end, bgmech_test2.columns.get_loc("gameid")] = id_list
    
    # Parse the response and assign it into the dataframe
    mech = [0]*len(links)
    val = [0]*len(links)
    j = 0
    for link in links:
        mech[j] = link["type"] 
        if mech[j] == "boardgamemechanic":
            val[j] = link["value"]
        j += 1
    bgmech_test2.iloc[dfidx_start:dfidx_end, bgmech_test2.columns.get_loc("mechanic")] = val

    dfidx_start = dfidx_end   # Increment the starting index for next round 
        
# Strip off the empty rows
bgmech_test2 = bgmech_test2.dropna(how="any")
bgmech_test2 = bgmech_test2[bgmech_test2.mechanic != 0]
bgmech_test2.reset_index(inplace=True, drop=True)
bgmech_test2

    gameid                mechanic
0   241533           Area Movement
1   241533        Cooperative Game
2   241533            Dice Rolling
3   241533         Hand Management
4   241533           Modular Board
5   241533            Role Playing
6   241533         Team-Based Game
7   241533  Variable Player Powers
8    37235        Worker Placement
9     8552           Card Drafting
10    8552         Hand Management
11    8552        Pattern Building
12    8552          Set Collection
13   20542            Dice Rolling
14   20542            Hexagon Grid
15  156089            Dice Rolling
16  156089           Grid Movement
17  156089           Modular Board
18  156089  Variable Player Powers

In [134]:
bgdesc_test = pd.DataFrame(columns=["gameid", "description"], index=range(len(df_small_test)))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    # while r.status_code != 200:
        # sleep(2)  # Keep the server happy
        # print("Server Error! Response Code %i. Retrying..." % (r.status_code))
        # r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=%i" % (gameid, pagenum))
    soup = BeautifulSoup(r.text, "xml")
    desc = soup("description")
#         print("Response status was %i - length of comments is %i" % (r.status_code, len(comments)))

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]
    dfidx_end = dfidx_start + len(links)
    bgdesc_test.iloc[dfidx_start:dfidx_end, bgdesc_test.columns.get_loc("gameid")] = id_list
    bgdesc_test.iloc[dfidx_start:dfidx_end, bgdesc_test.columns.get_loc("description")] = str(desc)

    dfidx_start = dfidx_end   # Increment the starting index for next round 
        
bgdesc_test

   gameid                                        description
0  241533  [<description>Within the lavish rooms of the S...
1  241533  [<description>Within the lavish rooms of the S...
2  241533  [<description>Within the lavish rooms of the S...
3  241533  [<description>Within the lavish rooms of the S...
4  241533  [<description>Within the lavish rooms of the S...

In [124]:
df_category = pd.DataFrame(columns=["gameid", "category"], index=range(len(df_games)*1000))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0
iteration = 1

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_games.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    soup = BeautifulSoup(r.text, "xml")
    links = soup("link")

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(links)
    dfidx_end = dfidx_start + len(links)
    df_category.iloc[dfidx_start:dfidx_end, df_category.columns.get_loc("gameid")] = id_list
    
    # Parse the response and assign it into the dataframe
    cat = [0]*len(links)
    val = [0]*len(links)
    j = 0
    for link in links:
        cat[j] = link["type"] 
        if cat[j] == "boardgamecategory":
            val[j] = link["value"]
        j += 1
    df_category.iloc[dfidx_start:dfidx_end, df_category.columns.get_loc("category")] = val

    dfidx_start = dfidx_end   # Increment the starting index for next round 
    if idx%100 == 0:
        print("Finished with chunk #%i of 100 games." % (iteration))
        iteration += 1
        
# Strip off the empty rows
df_category = df_category.dropna(how="any")
df_category = df_category[df_category.category != 0]
df_category.reset_index(inplace=True, drop=True)
df_category.to_sql(name="categories", con=engine2, if_exists="append", index=False)

Finished with chunk #1 of 100 games.
Finished with chunk #2 of 100 games.
Finished with chunk #3 of 100 games.
Finished with chunk #4 of 100 games.
Finished with chunk #5 of 100 games.
Finished with chunk #6 of 100 games.
Finished with chunk #7 of 100 games.
Finished with chunk #8 of 100 games.
Finished with chunk #9 of 100 games.
Finished with chunk #10 of 100 games.
Finished with chunk #11 of 100 games.
Finished with chunk #12 of 100 games.
Finished with chunk #13 of 100 games.
Finished with chunk #14 of 100 games.
Finished with chunk #15 of 100 games.
Finished with chunk #16 of 100 games.
Finished with chunk #17 of 100 games.
Finished with chunk #18 of 100 games.
Finished with chunk #19 of 100 games.
Finished with chunk #20 of 100 games.
Finished with chunk #21 of 100 games.
Finished with chunk #22 of 100 games.
Finished with chunk #23 of 100 games.
Finished with chunk #24 of 100 games.
Finished with chunk #25 of 100 games.
Finished with chunk #26 of 100 games.
Finished with chunk #27 of 100 games.
Finished with chunk #28 of 100 games.
Finished with chunk #29 of 100 games.
Finished with chunk #30 of 100 games.

OperationalError: (MySQLdb._exceptions.OperationalError) (2006, 'MySQL server has gone away')
[SQL: DESCRIBE `categories`]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [125]:
df_category

      gameid                 category
0      30549                  Medical
1        822            City Building
2        822                 Medieval
3        822       Territory Building
4         13                 Economic
...      ...                      ...
9517  156089                Adventure
9518  156089  Expansion for Base-game
9519  156089                  Fantasy
9520  156089                 Fighting
9521  156089               Miniatures

[9522 rows x 2 columns]

In [127]:
df_category.to_sql(name="categories", con=engine2, if_exists="append", index=False)

In [128]:
df_mechanics = pd.DataFrame(columns=["gameid", "mechanic"], index=range(len(df_games)*1000))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0
iteration = 1

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_games.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    soup = BeautifulSoup(r.text, "xml")
    links = soup("link")

    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]*len(links)
    dfidx_end = dfidx_start + len(links)
    df_mechanics.iloc[dfidx_start:dfidx_end, df_mechanics.columns.get_loc("gameid")] = id_list
    
    # Parse the response and assign it into the dataframe
    mech = [0]*len(links)
    val = [0]*len(links)
    j = 0
    for link in links:
        mech[j] = link["type"] 
        if mech[j] == "boardgamemechanic":
            val[j] = link["value"]
        j += 1
    df_mechanics.iloc[dfidx_start:dfidx_end, df_mechanics.columns.get_loc("mechanic")] = val

    dfidx_start = dfidx_end   # Increment the starting index for next round 
    if idx%100 == 0:
        print("Finished with chunk #%i of 100 games." % (iteration))
        iteration += 1
        
# Strip off the empty rows
df_mechanics = df_mechanics.dropna(how="any")
df_mechanics = df_mechanics[df_mechanics.mechanic != 0]
df_mechanics.reset_index(inplace=True, drop=True)
df_mechanics.to_sql(name="mechanics", con=engine2, if_exists="append", index=False)

Finished with chunk #1 of 100 games.
Finished with chunk #2 of 100 games.
Finished with chunk #3 of 100 games.
Finished with chunk #4 of 100 games.
Finished with chunk #5 of 100 games.
Finished with chunk #6 of 100 games.
Finished with chunk #7 of 100 games.
Finished with chunk #8 of 100 games.
Finished with chunk #9 of 100 games.
Finished with chunk #10 of 100 games.
Finished with chunk #11 of 100 games.
Finished with chunk #12 of 100 games.
Finished with chunk #13 of 100 games.
Finished with chunk #14 of 100 games.
Finished with chunk #15 of 100 games.
Finished with chunk #16 of 100 games.
Finished with chunk #17 of 100 games.
Finished with chunk #18 of 100 games.
Finished with chunk #19 of 100 games.
Finished with chunk #20 of 100 games.
Finished with chunk #21 of 100 games.
Finished with chunk #22 of 100 games.
Finished with chunk #23 of 100 games.
Finished with chunk #24 of 100 games.
Finished with chunk #25 of 100 games.
Finished with chunk #26 of 100 games.
Finished with chunk #27 of 100 games.
Finished with chunk #28 of 100 games.
Finished with chunk #29 of 100 games.
Finished with chunk #30 of 100 games.

AttributeError: 'DataFrame' object has no attribute 'category'

In [130]:
df_mechanics = df_mechanics[df_mechanics.mechanic != 0]
df_mechanics.reset_index(inplace=True, drop=True)
df_mechanics.to_sql(name="mechanics", con=engine2, if_exists="append", index=False)

In [131]:
df_mechanics

       gameid                 mechanic
0       30549            Action Points
1       30549         Cooperative Game
2       30549          Hand Management
3       30549  Point to Point Movement
4       30549           Set Collection
...       ...                      ...
12209   20542             Hexagon Grid
12210  156089             Dice Rolling
12211  156089            Grid Movement
12212  156089            Modular Board
12213  156089   Variable Player Powers

[12214 rows x 2 columns]

In [132]:
r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=13&ratingcomments=1&page=1")
soup = BeautifulSoup(r.text, "xml")
desc = soup("description")
desc

[<description>In Catan (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resources the island produces. Players collect these resources (cards)&amp;mdash;wood, grain, brick, sheep, or stone&amp;mdash;to build up their civilizations to get to 10 victory points and win the game.&amp;#10;&amp;#10;Setup includes randomly placing large hexagonal tiles (each showing a resource or the desert) in a honeycomb shape and surrounding them with water tiles, some of which contain ports of exchange. Number disks, which will correspond to die rolls (two 6-sided dice are used), are placed on each resource tile. Each player is given two settlements (think: houses) and roads (sticks) which are, in turn, placed on intersections and borders of the resource tiles. Players collect a hand of resource cards based on which hex tiles their last-placed house is adjacent to. A robber pawn is placed on the desert tile.&amp;#10;&amp;#10;A turn consists of possibly playing a development card, rolling the dice, everyone (perhaps) collecting resource cards based on the roll and position of houses (or upgraded cities&amp;mdash;think: hotels) unless a 7 is rolled, turning in resource cards (if possible and desired) for improvements, trading cards at a port, and trading resource cards with other players. If a 7 is rolled, the active player moves the robber to a new hex tile and steals resource cards from other players who have built structures adjacent to that tile.&amp;#10;&amp;#10;Points are accumulated by building settlements and cities, having the longest road and the largest army (from some of the development cards), and gathering certain development cards that simply award victory points. When a player has gathered 10 points (some of which may be held in secret), he announces his total and claims the win.&amp;#10;&amp;#10;Catan has won multiple awards and is one of the most popular games in recent history due to its amazing ability to appeal to experienced gamers as well as those new to the hobby.&amp;#10;&amp;#10;Die Siedler von Catan was originally published by KOSMOS and has gone through multiple editions. It was licensed by Mayfair and has undergone four editions as The Settlers of Catan. In 2015, it was formally renamed Catan to better represent itself as the core and base game of the Catan series. It has been re-published in two travel editions, portable edition and compact edition, as a special gallery edition (replaced in 2009 with a family edition), as an anniversary wooden edition, as a deluxe 3D collector's edition, in the basic Simply Catan, as a beginner version, and with an entirely new theme in Japan and Asia as Settlers of Catan: Rockman Edition. Numerous spin-offs and expansions have also been made for the game.&amp;#10;&amp;#10;</description>]

In [133]:
str(desc)

"[<description>In Catan (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resources the island produces. Players collect these resources (cards)&amp;mdash;wood, grain, brick, sheep, or stone&amp;mdash;to build up their civilizations to get to 10 victory points and win the game.&amp;#10;&amp;#10;Setup includes randomly placing large hexagonal tiles (each showing a resource or the desert) in a honeycomb shape and surrounding them with water tiles, some of which contain ports of exchange. Number disks, which will correspond to die rolls (two 6-sided dice are used), are placed on each resource tile. Each player is given two settlements (think: houses) and roads (sticks) which are, in turn, placed on intersections and borders of the resource tiles. Players collect a hand of resource cards based on which hex tiles their last-placed house is adjacent to. A robber pawn is placed on the desert tile.&amp;#10;&amp;#10;A turn consists of possibly playing a development card, rolling the dice, everyone (perhaps) collecting resource cards based on the roll and position of houses (or upgraded cities&amp;mdash;think: hotels) unless a 7 is rolled, turning in resource cards (if possible and desired) for improvements, trading cards at a port, and trading resource cards with other players. If a 7 is rolled, the active player moves the robber to a new hex tile and steals resource cards from other players who have built structures adjacent to that tile.&amp;#10;&amp;#10;Points are accumulated by building settlements and cities, having the longest road and the largest army (from some of the development cards), and gathering certain development cards that simply award victory points. When a player has gathered 10 points (some of which may be held in secret), he announces his total and claims the win.&amp;#10;&amp;#10;Catan has won multiple awards and is one of the most popular games in recent history due to its amazing ability to appeal to experienced gamers as well as those new to the hobby.&amp;#10;&amp;#10;Die Siedler von Catan was originally published by KOSMOS and has gone through multiple editions. It was licensed by Mayfair and has undergone four editions as The Settlers of Catan. In 2015, it was formally renamed Catan to better represent itself as the core and base game of the Catan series. It has been re-published in two travel editions, portable edition and compact edition, as a special gallery edition (replaced in 2009 with a family edition), as an anniversary wooden edition, as a deluxe 3D collector's edition, in the basic Simply Catan, as a beginner version, and with an entirely new theme in Japan and Asia as Settlers of Catan: Rockman Edition. Numerous spin-offs and expansions have also been made for the game.&amp;#10;&amp;#10;</description>]"

In [136]:
bgdesc_test = pd.DataFrame(columns=["gameid", "description"], index=range(len(df_small_test)))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_small_test.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    soup = BeautifulSoup(r.text, "xml")
    desc = soup("description")


    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]
    dfidx_end = dfidx_start + 1
    bgdesc_test.iloc[dfidx_start:dfidx_end, bgdesc_test.columns.get_loc("gameid")] = id_list
    bgdesc_test.iloc[dfidx_start:dfidx_end, bgdesc_test.columns.get_loc("description")] = str(desc)

    dfidx_start = dfidx_end   # Increment the starting index for next round 
        
bgdesc_test

   gameid                                        description
0  241533  [<description>Within the lavish rooms of the S...
1   37235  [<description>The Agricola Z-Deck is a 24-card...
2    8552  [<description>In I Go!, players draw and disca...
3   20542  [<description>(from MMP website:)&amp;#10;&amp...
4  156089  [<description>Nobody paid much attention when ...

In [143]:
bgdesc_test["description"] = bgdesc_test["description"].str.replace('<description>', '')

In [148]:
bgdesc_test.description[0]

'[Within the lavish rooms of the Silver Twilight Lodge, the most influential citizens of Arkham gather to forge business alliances, plan parades, and lobby politicians. In secret, they also meet to enact forbidden rituals with dark consequences. The poor souls who discover this truth often vanish, never to be seen again.&amp;#10;&amp;#10;Sanctum of Twilight is an expansion for Mansions of Madness Second Edition that unites two new investigators against the Order of the Silver Twilight in two thrilling scenarios. With new spells, items, mechanics, and a new monster, this expansion immerses players in the Arkham Files universe as they confront the dangers threatening Arkham from within.&amp;#10;&amp;#10;&amp;mdash;description from the publisher&amp;#10;&amp;#10;</description>]'

In [149]:
bgdesc_test["description"] = bgdesc_test["description"].str.replace('</description>', '')

In [150]:
bgdesc_test

   gameid                                        description
0  241533  [Within the lavish rooms of the Silver Twiligh...
1   37235  [The Agricola Z-Deck is a 24-card Promo Deck f...
2    8552  [In I Go!, players draw and discard iterativel...
3   20542  [(from MMP website:)&amp;#10;&amp;#10;ASL Star...
4  156089  [Nobody paid much attention when Dr. Spider wa...

In [151]:
bgdesc_test.description[0]

'[Within the lavish rooms of the Silver Twilight Lodge, the most influential citizens of Arkham gather to forge business alliances, plan parades, and lobby politicians. In secret, they also meet to enact forbidden rituals with dark consequences. The poor souls who discover this truth often vanish, never to be seen again.&amp;#10;&amp;#10;Sanctum of Twilight is an expansion for Mansions of Madness Second Edition that unites two new investigators against the Order of the Silver Twilight in two thrilling scenarios. With new spells, items, mechanics, and a new monster, this expansion immerses players in the Arkham Files universe as they confront the dangers threatening Arkham from within.&amp;#10;&amp;#10;&amp;mdash;description from the publisher&amp;#10;&amp;#10;]'

In [152]:
df_desc = pd.DataFrame(columns=["gameid", "description"], index=range(len(df_games)))

# Initialize indices for writing to the ratings dataframe
dfidx_start = 0
dfidx = 0
iteration = 1

# Loop through game-by-game and request the final page of ratings for each game
for idx, row in df_games.iterrows():
    # Get the game ID and the last page number to request
    gameid = row["id"]
    
    # Make the request for just the last page of ratings of this game
    sleep(2)  # Keep the server happy
    r = requests.get("http://www.boardgamegeek.com/xmlapi2/thing?id=%i&ratingcomments=1&page=1" % (gameid))
    soup = BeautifulSoup(r.text, "xml")
    desc = soup("description")


    # Set the next chunk of the DF "gameids" column with this gameid
    id_list = [gameid]
    dfidx_end = dfidx_start + 1
    df_desc.iloc[dfidx_start:dfidx_end, df_desc.columns.get_loc("gameid")] = id_list
    df_desc.iloc[dfidx_start:dfidx_end, df_desc.columns.get_loc("description")] = str(desc)

    dfidx_start = dfidx_end   # Increment the starting index for next round 
    if idx%100 == 0:
        print("Finished with chunk #%i of 100 games." % (iteration))
        iteration += 1

df_desc["description"] = df_desc["description"].str.replace('<description>', '')
df_desc["description"] = df_desc["description"].str.replace('</description>', '')
df_desc.to_sql(name="descriptions", con=engine2, if_exists="append", index=False)

Finished with chunk #1 of 100 games.
Finished with chunk #2 of 100 games.
Finished with chunk #3 of 100 games.
Finished with chunk #4 of 100 games.
Finished with chunk #5 of 100 games.
Finished with chunk #6 of 100 games.
Finished with chunk #7 of 100 games.
Finished with chunk #8 of 100 games.
Finished with chunk #9 of 100 games.
Finished with chunk #10 of 100 games.
Finished with chunk #11 of 100 games.
Finished with chunk #12 of 100 games.
Finished with chunk #13 of 100 games.
Finished with chunk #14 of 100 games.
Finished with chunk #15 of 100 games.
Finished with chunk #16 of 100 games.
Finished with chunk #17 of 100 games.
Finished with chunk #18 of 100 games.
Finished with chunk #19 of 100 games.
Finished with chunk #20 of 100 games.
Finished with chunk #21 of 100 games.
Finished with chunk #22 of 100 games.
Finished with chunk #23 of 100 games.
Finished with chunk #24 of 100 games.
Finished with chunk #25 of 100 games.
Finished with chunk #26 of 100 games.
Finished with chunk #27 of 100 games.
Finished with chunk #28 of 100 games.
Finished with chunk #29 of 100 games.
Finished with chunk #30 of 100 games.

In [154]:
conn = engine2.connect() # create connection to db

In [159]:
print(engine2.table_names())

['categories', 'descriptions', 'games', 'mechanics', 'ratings']